@import url(./base.less);
@import url(./global.less);

@btn-size: 92px;
@box-height: 600px;
@card-width: 100%;

.nav-content {
  .nav-content-creat(#fff, #fff, none);
}
.nav-scroll-white {
  .nav-content-creat(#6b7c93, #1db977);
}
.main-content {
  background-image: url('../assets/demobg.png');
  padding: 148px 0px 60px 0px;
  .demo-section {
    width: 670px;
    padding-bottom: 24px;
    margin: auto;
    border: 6px solid #f5f5f9;
    background-color: #fff;
  }
  .demo-title {
    font-size: 32px;
    color: #4a4a4a;
    padding-top: 26px;
    text-align: center;
  }
  .demo-subtitle {
    font-size: 24px;
    color: #757575;
    width: 85%;
    margin: 20px auto 40px auto;
    text-align: center;
  }

  .demo-item {
    padding: 0px 40px;
    font-size: 24px;
    color: #757575;
    padding-bottom: 36px;
    overflow: hidden;
    .label {
      display: inline-block;
      padding-top: 5px;
    }
    .demo-form-item {
      display: inline-block;
      float: right;
      position: relative;
      input {
        width: 440px;
        height: 51px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 24px;
        color: #757575;
      }
      select {
        width: 440px;
        height: 51px;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #ccc;
        font-size: 24px;
        color: #757575;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        background: url("../assets/selectArrow.png") no-repeat scroll 97% center transparent;
        padding-right: 10px;
        option {
          font-size: 6px;
        }
      }
    }
    .demo-form-item.error {
      &:after {
        content: attr(data-err) !important;
        white-space: pre;
        position: absolute;
        left: 0px;
        bottom: -20px;
        display: block;
        padding-left: 0px;
        padding-top: 5px;
        font-size: 14.4px;
        color: #f1584d;
        width: 210px
      }
    }
    textarea {
      width: 440px;
      height: 156px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 24px;
      color: #757575;
    }
  }
  #demo-submit {
    .creatFullButton(#fff, #5396f7);
    display: block;
    margin: auto;
  }
}