@import url(./base.less);
@import url(./global.less);

@btn-size: 92px;
@box-height: 600px;
@card-width: 100%;

.card-image-1 {
  background: ~'url("../assets/card1.png") no-repeat 0 0/600px 350px';
}
.card-image-2 {
  background: ~'url("../assets/card2.png") no-repeat 0 0/600px 350px';
}
.card-image-3 {
  background: ~'url("../assets/card3.png") no-repeat 0 0/600px 350px';
}
.card-image-4 {
  background: ~'url("../assets/card4.png") no-repeat 0 0/600px 350px';
}
.card-image-5 {
  background: ~'url("../assets/card5.png") no-repeat 0 0/600px 350px';
}
.card-image-6 {
  background: ~'url("../assets/card6.png") no-repeat 0 0/600px 350px';
}
.card-image-7 {
  background: ~'url("../assets/card7.png") no-repeat 0 0/600px 350px';
}
.card-image-8 {
  background: ~'url("../assets/card8.png") no-repeat 0 0/600px 350px';
}
.card-image-9 {
  background: ~'url("../assets/card9.png") no-repeat 0 0/600px 350px';
}
.card-image-10 {
  background: ~'url("../assets/card10.png") no-repeat 0 0/600px 350px';
}
.card-image-11 {
  background: ~'url("../assets/card11.png") no-repeat 0 0/600px 350px';
}
.card-image-12 {
  background: ~'url("../assets/card12.png") no-repeat 0 0/600px 350px';
}

.nav-content {
  .nav-content-creat(#fff, #fff, #4a83ff);
}

.main-content {
  position: relative;

  .main-header {
    margin: 120px auto 50px auto;
    padding: 0 48px;
    height: 700px;

    color: #fff;

    h1, h2, p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 62px;
    }
    .sub-title {
      font-size: 40px;
    }
    .description {
      display: inline-block;
      margin-top: 40px;

      vertical-align: top;
      font-size: 28px;
    }
    .banner {
      display: inline-block;
      position: relative;
      width: 10px;
      height: 10px;

      vertical-align: top;

      .banner-image {
        width: 1133px;
        height: 1070px;
        position: absolute;
        bottom: -800px;
        left: 0px;
        z-index: -1;
      }
    }
    .free-btn {
      .creatFullButton(#fff, #40d08f);

      display: block;
      margin-top: 76px;

      border-radius: 5px;
      box-shadow: 2px 1px 4px #287fbc;
    }

  }

  .show-box {
    margin: 0 auto;
    padding: 0 48px 0 48px;

    box-sizing: border-box;

    .box-title {
      display: inline-block !important;
      color: @color-green;
      h3 {
        font-size: 40px;
        margin: 0;
      }
      p {
        font-size: 28px;
        margin: 0;
        padding-bottom: 0;
        line-height: 1;
      }
    }

    .box-item {
      display: block;
      margin: 40px 0;

      box-sizing: border-box;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .box-list {
      color: @color-base;
      list-style: none;
      margin-top: 40px;
      padding: 0;
      li {
        margin: 5px 0;
        font-size: 12px;
      }
      li:before {
        content: "\25cf";
        margin-right: 6px;

        color: @color-green;
        font-size: 10px;
      }
    }
  }
}

.rotate-card {
  .rotate-card-title {
    margin: 85px 0;
    padding-bottom: 85px;

    font-size: 40px;
    color: @color-title;
    text-align: center;
  }

  .card-stage {
    width: 600px;
    height: 770px;
    margin: 0 auto;
    position: relative;

    background-color: #fff;
    box-shadow: 2Px 7Px 10Px 4Px #dfdfdf;
  }

  .show-card {
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 100%;
    z-index: 10px;

    box-sizing: content-box;

    transition: all 0.25s;
  }
  .show {
    opacity: 1;
    left: 0 !important;
  }


  .card-title {
    width: @card-width;
    height: 376px;

    color: #fff;
    font-size: 60px;
    line-height: 376px;
    box-sizing: border-box;
    text-align: center;
  }
  .card-description {
    width: @card-width;
    height: 360px;
    position: relative;

    box-sizing: border-box;
  }
  .card-p {
    padding: 40px 40px 0 40px;
    position: absolute;
    left: 0;
    top: 50%;

    transform: translateY(-50%);
    color: #909caa;
    font-size: 28px;
  }

  .btn-up, .btn-down {
    .clearButtonStyle();
    position: absolute;
    top: 25%;
    width: @btn-size;
    height: @btn-size;    
    z-index: 99;
  }
  .btn-up {
    left: 0;
    transform: translate(-50%, -50%);

    background: ~'url("../assets/btn-up.png") no-repeat 0 0/@{btn-size} @{btn-size}';
  }
  .btn-down {
    right: 0;
    transform: translate(50%, -50%);

    background: ~'url("../assets/btn-down.png") no-repeat 0 0/@{btn-size} @{btn-size}';
  }
}

.main-header-bg {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: absolute;
  top: -300px;
  z-index: -999;
  transform: skewY(-12deg);
  transform-origin: 0;

  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

  span {
    display: inline-block;
    position: absolute;
    height: 80px;
  }

  span:first-child {
    width: 33.33333%;
    left: -16.66666%;
    background-color: #53f;
  }
  span:nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }
  span:nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }
  span:nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }
  span:nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}

.cards {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.box-title-img {
  vertical-align: bottom;
}

.reserve-form {
  .form-submit-btn {
    .creatFullButton(#fff, #3b99fb);
  }
}
