@import url(./base.less);
@import url(./global.less);

@btn-size: 92px;
@box-height: 600px;
@card-width: 100%;

.card-image-1 {
  background: ~'url("../assets/card1.png") no-repeat 0 0/600px 350px';
}
.card-image-2 {
  background: ~'url("../assets/card2.png") no-repeat 0 0/600px 350px';
}
.card-image-3 {
  background: ~'url("../assets/card3.png") no-repeat 0 0/600px 350px';
}
.card-image-4 {
  background: ~'url("../assets/card4.png") no-repeat 0 0/600px 350px';
}
.card-image-5 {
  background: ~'url("../assets/card5.png") no-repeat 0 0/600px 350px';
}
.card-image-6 {
  background: ~'url("../assets/card6.png") no-repeat 0 0/600px 350px';
}
.card-image-7 {
  background: ~'url("../assets/card7.png") no-repeat 0 0/600px 350px';
}
.card-image-8 {
  background: ~'url("../assets/card8.png") no-repeat 0 0/600px 350px';
}
.card-image-9 {
  background: ~'url("../assets/card9.png") no-repeat 0 0/600px 350px';
}
.card-image-10 {
  background: ~'url("../assets/card10.png") no-repeat 0 0/600px 350px';
}
.card-image-11 {
  background: ~'url("../assets/card11.png") no-repeat 0 0/600px 350px';
}
.card-image-12 {
  background: ~'url("../assets/card12.png") no-repeat 0 0/600px 350px';
}

.nav-content {
  .nav-content-creat(#fff, #fff, none);
}

.nav-scroll-white {
  .nav-content-creat(#6b7c93, #1db977);
}

.main-content {
  position: relative;

  .main-header {
    margin: 208px auto 50px auto;
    padding: 0 48px;
    height: 700px;

    color: #fff;

    h1, h2, p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 62px;
    }
    .sub-title {
      font-size: 42px;
    }
    .description {
      display: inline-block;
      margin-top: 40px;
      width: 90%;
      vertical-align: top;
      font-size: 24px;
    }
    .banner {
      display: inline-block;
      position: relative;
      width: 10px;
      height: 10px;

      vertical-align: top;

      .banner-image {
        width: 1133px;
        height: 1070px;
        position: absolute;
        bottom: -800px;
        left: 0px;
        z-index: -1;
      }
    }
    .free-btn {
      .creatFullButton(#fff, #40d08f);

      display: block;
      margin-top: 80px;

      border-radius: 5px;
      box-shadow: 2px 1px 4px #287fbc;
    }

  }

  .show-box {
    margin: 0 auto;
    padding: 120px 60px 80px 60px;
    position: relative;
    box-sizing: border-box;

    .box-title {
      display: inline-block !important;
      color: @color-green;
      h3 {
        font-size: 40px;
        margin: 0;
      }
      p {
        font-size: 28px;
        margin: 0;
        padding-bottom: 0;
        line-height: 1;
      }
    }

    .box-item {
      display: block;
      margin: 40px 0 0 0;

      box-sizing: border-box;

      img {
        display: block;
        margin: 0 auto 20px auto;
      }
    }

    .box-list {
      color: @color-base;
      list-style: none;
      margin-top: 40px;
      padding: 0;
      li {
        margin: 5px 0;
        font-size: 24px;
      }
      li:before {
        content:'';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background:@color-green;
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        margin-top: -10px
      }
    }
  }
}

.rotate-card {
  position: relative;
  padding: 80px 0px;
  .rotate-bg {
    display: inline-block;
    position: absolute;
    height: 80px;
    z-index: -999;
    transform: skewY(-12deg);
  }
  .rotate-bg:nth-child(1) {
    background-color: #53f;
    left: 0;
    top: 50;
    width: 20%;
  }
  .rotate-bg:nth-child(2) {
    background-color: #4d90fe;
    left: 0;
    top: 130px;
    width: 15%;
  }
  .rotate-bg:nth-child(3) {
    background-color: #4d90fe;
    right: 0;
    bottom: 80px;
    width: 40%;
  }
  .rotate-bg:nth-child(4) {
    background-color: #1bbd7a;
    right: 0;
    bottom: 0px;
    width: 50%;
  }

  .rotate-card-bg {
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: -1;
    width: 100%;
  }

  .rotate-card-title {
    padding-bottom: 40px;
    margin: 0px;
    font-size: 32px;
    color: @color-title;
    text-align: center;
  }

  .casourel-section {
    height: 397px;
    width: 666px;
    background-color: #fff;
    margin: auto;
    box-shadow:5px 5px 10px #f5f5f9,5px -5px 10px #f5f5f9,-5px 5px 10px #f5f5f9,-5px -5px 10px #f5f5f9;
    position: relative;
    overflow: hidden;
  }
  .casourel-section ul {
    margin: 0px;
    padding: 0px;
    width: 1300%;
    height: 397px;
    position: absolute;
    left: -666px;
    top: 0;
  }
  .casourel-section ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 397px;
    width: 666px;
    float: left;
  }
  .industry-title-img {
    height: 55px;
    width: 55px;
    display: inline-block;
    margin: 60px 16px 0px 96px;
    vertical-align: top;
  }
  .industry-title {
    display: inline-block;
    font-size: 42px;
    color: #4a4a4a;
    margin-top: 56px;
    vertical-align: top;
  }
  .industry-description {
    width: 75%;
    font-size: 25.4px;
    margin-top: 40px;
    color: #757575;
    margin-left: 96px;
  }
  .industry-operator {
    color: #1bbd7a;
    margin: 40px 0px 0px 96px;
    font-size: 25.4px;
  }
  .industry-left {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 100;
    transform: translateY(-50%)
  }
  .industry-right {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 100;
    transform: translateY(-50%)
  }
}

.main-header-bg {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: absolute;
  top: -300px;
  z-index: -999;
  transform: skewY(-12deg);
  transform-origin: 0;

  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

  span {
    display: inline-block;
    position: absolute;
    height: 80px;
  }

  span:first-child {
    width: 33.33333%;
    left: -16.66666%;
    background-color: #53f;
  }
  span:nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }
  span:nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }
  span:nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }
  span:nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}

.cards {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.box-title-img {
  height: 100px;

  margin: 0 !important;
}

.reserve-form {
  .form-submit-btn {
    .creatFullButton(#fff, #3b99fb);
  }
}

.gray-bg-1 {
  height: 1000px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -999;
  left: 0;
  right: 0;
  overflow: hidden;
  
  &:before {
    width: 100%;
    height: 1120px;
    content: '';
    position: absolute;
    bottom: -200px;
    left: 0;
    z-index: -998;

    // transform-origin: 0;
    transform: skewY(-9deg);
    background-color: #f8f9fd;
  }
}

.gray-bg-2 {
  height: 950px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -999;
  left: 0;
  right: 0;
  overflow: hidden;
  
  &:before {
    width: 100%;
    height: 1070px;
    content: '';
    position: absolute;
    bottom: -200px;
    left: 0;
    z-index: -998;

    // transform-origin: 0;
    transform: skewY(9deg);
    background-color: #f8f9fd;
  }
}