.container {
  padding: 134px 0px 131px 0px;
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  text-align: center;
  .contractItem {
    display: inline-block;
    width: 350px;
    img {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
    .title {
      color: #539ef2;
      font-size: 20px;
      margin-bottom: 19px;
    }
    ul {
      padding-left: 0px
    }
    ul li {
      list-style-type: none;
      text-align: left;
      margin-bottom: 12px;
      color: #4a4a4a;
      font-size: 16px;
      img {
        height: 15px;
        width: 15px;
        margin: 0 12px 0 0
      }
    }
    li.complaints {
      padding-left: 50px;
    }
    li.commerce {
      padding-left: 80px;
    }
    li.tecSupport {
      padding-left: 70px;
    }
  };
}