.container {
  padding-bottom: 203px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  .title {
    text-align: center;
    color: #539ef2;
    font-size: 24px;
    margin-bottom: 39px;
  }
  .subTitle {
    text-align: center;
    color: #aaa;
    font-size: 16px;
    margin-bottom: 35px;
    font-weight: 100;
    .email {
      color: #539ef2;
      text-decoration: underline
    }
  };
  .content {
    display: inline-block;
    width: 100%;
    text-align: center;
    :global(.ant-collapse) {
      display: inline-block;
      text-align: left;
      padding: 0px 20px;
      background-color: #fff;
      width: 100%;
      border: none;
      box-shadow: #eee 0px 0px 10px; 
      :global(.ant-collapse-item):last-child {
        border: none;
      }
      :global(.ant-collapse-item) {
        border-bottom: 1px solid #eee;
        :global(.ant-collapse-header){
          padding: 25px 0px 21px 85px;
          background-color: #fff;
          color: #4a4a4a;
          font-size: 16px;
          i {
            top: 12px;
            left: 53px;
            color: #539EF2
          }
        };
      }

      :global(.ant-collapse-content) {
        border-top: 1px solid #eee
      }
      :global(.ant-collapse-content-box) {
        .jobSubTitle {
          margin-left: -28px;
        }
        font-size: 14px;
        color: #4a4a4a;
        padding: 10px 0 10px 107px;
        ol {
          padding: 0px;
        }
        ol li {
          margin: 13px 0px;
        }
      }
    }
  }
}