.container {
  background: url(assets/service.png) no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  padding: 270px 0 199px 0;
  text-align: center;

  .title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 59px;
  }

  .content {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
  }
}