.container {
  background-image: url(assets/service.png);
  background-position: 50% 0px; 
  padding: 270px 0 199px 0;
  text-align: center;

  .title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 59px;
  }

  .content {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
  }
}