.navigation {
  padding: 10px 20px;
  img {
    height: 30px;
    width: 90px;
  }
  ul {
    margin: 0;
    padding: 5px;
    display: inline-block;
    float: right;
  }
  ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 25px;
    a {
      color: #4a4a4a;
      &:focus {
        text-decoration: none
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
  .actionButton {
    float: right;
    :global(.ant-btn) {
      margin-left: 20px;
    }
  }
}

.loginContent {
  div {
    color: #666;
    font-size: 14px;
  }
  .submitButton {
    text-align: center
  }
}