.container {
  width: 100%;
  min-width: 1200px;
  .navigation {
    background-color: #fff
  }
  .buttomSection {
    padding: 80px 0px;
    background-color: #444;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .bottomItem {
      margin: 0px 60px;
    }
    ul {
      padding: 0px;
    }
    ul li {
      list-style-type:none;
      margin-bottom: 20px;
      color: #9b9b9b;
      a {
        color: #9b9b9b;
        &:hover {
          color: #fff;
        }
        &:focus {
          text-decoration: none;
        }
      }
      img {
        margin-right: 10px;
      }
    };
    img {
      height: 16px;
      width: 16px;
    }
    .logo {
      height: 30px;
      width: 90px;
    }
    .qrcode {
      text-align: center;      
      img {
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
      }
    }
  }
}

