<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ElephantBI</title>
  <script>
    !function(e){function t(a){if(i[a])return i[a].exports;var n=i[a]={exports:{},id:a,loaded:!1};return e[a].call(n.exports,n,n.exports,t),n.loaded=!0,n.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.flex=function(e,t){var a=e||100,n=t||1,r=i.document,o=navigator.userAgent,d=o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=o.match(/U3\/((\d+|\.){5,})/i),c=l&&parseInt(l[1].split(".").join(""),10)>=80,p=navigator.appVersion.match(/(iphone|ipad|ipod)/gi),s=i.devicePixelRatio||1;p||d&&d[1]>534||c||(s=1);var u=1/s,m=r.querySelector('meta[name="viewport"]');m||(m=r.createElement("meta"),m.setAttribute("name","viewport"),r.head.appendChild(m)),m.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+u+",maximum-scale="+u+",minimum-scale="+u),r.documentElement.style.fontSize=a/2*s*n+"px"},e.exports=t["default"]}]);
    flex(200, 1);
  </script>
  <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
  <script>
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }
    if(!window.Promise) {
      document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
    }
  </script>
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网（手机端）";

    window.corpid = 'WX_CORP_ID';
    window.imageEnv = 'IMAGE_ENV';
    window.OAUTHURL = 'OAUTH_URL';
  </script>
</head>
<body>
  <div id="root">
    <header>
      <nav class="nav-content" >
        <ul class="nav-list" >
          <li class="nav-section logo" >
            <image src='<%= require("./assets/nav-logo-black.svg") %>' width=206 height=41 id="logo" />
            <image src='<%= require("./assets/isv.svg") %>' class="isv" width=80 />
          </li>
          <li class="nav-section menu" >
            <div class="nav-mobile" >
              <img src='<%= require("./assets/nav-menu.svg") %>' alt="" id="nav-menu-id" >
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content" >
      <div class="main-header-bg" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <header class="main-header" >
        <div class="main-header-box" >
          <span class="title" >高效数据分析，聚焦团队协作与决策</span>
          <span class="description" >快速多维度的数据整合，灵活、高效的数据分析，多群组的分析结果共享，让团队中人人都是数据分析师，将数据决策覆盖到每一个工作场景</span>
          <div class="wx-install-btn" >
            <a href="javascript:void(0);" class="wx-btn" id="wx-btn-logup" >
              <img src='<%= require("./assets/wx-install.svg") %>' >
            </a>
          </div>
          <div class="wx-logup-btn" >
            <a href="javascript:void(0);" class="wx-btn" id="wx-btn-login" >
              <img src='<%= require("./assets/wx-lonup.svg") %>' >
            </a>
          </div>
        </div>
      </header>
      <div class="banner" >
        <image
          class="banner-image"
          src='<%= require("./assets/main-header-banner-product.png") %>'
          srcset='
              <%= require("./assets/main-header-banner-product.png") %> 330w,
              <%= require("./assets/main-header-banner-product@2x.png") %> 660w,
              <%= require("./assets/main-header-banner-product@3x.png") %> 990w'
            sizes="
              (max-width:400px) 330px,
              (max-width:800px) 660px,
              (max-width:1300px) 990px"
        >
      </div>
      <section class="product-stage" >
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >连接业务系统数据</h4>
            <p class="product-description" >支持包括HRM、CRM、ERP、OA、进销存等业务系统，业务数据一目了然</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct1@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct1@1x.png") %> 316w,
                <%= require("./assets/pruduct1@2x.png") %> 632w,
                <%= require("./assets/pruduct1@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >分析本地数据</h4>
            <p class="product-description" >Excel/csv文件也可轻松上传分析</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct2@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct2@1x.png") %> 316w,
                <%= require("./assets/pruduct2@2x.png") %> 632w,
                <%= require("./assets/pruduct2@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >连接SaaS应用数据</h4>
            <p class="product-description" >企业SaaS应用一键连接，云端应用数据集成毫无障碍</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct3@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct3@1x.png") %> 316w,
                <%= require("./assets/pruduct3@2x.png") %> 632w,
                <%= require("./assets/pruduct3@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >连接数据库数据</h4>
            <p class="product-description" >支持连接常用关系型数据库，如MySQL、PostgreSQL、Oracle Database等，有效集成企业数据</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct4@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct4@1x.png") %> 316w,
                <%= require("./assets/pruduct4@2x.png") %> 632w,
                <%= require("./assets/pruduct4@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >通过API连接更多数据</h4>
            <p class="product-description" >支持API数据接入，灵活扩展数据集成</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct5@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct5@1x.png") %> 316w,
                <%= require("./assets/pruduct5@2x.png") %> 632w,
                <%= require("./assets/pruduct5@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >大数据稳定支撑</h4>
            <p class="product-description" >强大的并行计算集群，百亿数据，实时查询，轻松处理企业大数据</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct6@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct6@1x.png") %> 316w,
                <%= require("./assets/pruduct6@2x.png") %> 632w,
                <%= require("./assets/pruduct6@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >数据实时刷新</h4>
            <p class="product-description" >实时自动更新数据，方便您对数据的实时掌控，并依此零时差推进业务</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct7@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct7@1x.png") %> 316w,
                <%= require("./assets/pruduct7@2x.png") %> 632w,
                <%= require("./assets/pruduct7@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >多表联合</h4>
            <p class="product-description" >拖拽即可完成多表联合、追加合并数据，重复繁琐的ETL工作也可以如此轻松搞定</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct8@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct8@1x.png") %> 316w,
                <%= require("./assets/pruduct8@2x.png") %> 632w,
                <%= require("./assets/pruduct8@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >拖拽式数据可视化分析</h4>
            <p class="product-description" >简单拖拽，数据图表瞬间生成</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct9@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct9@1x.png") %> 316w,
                <%= require("./assets/pruduct9@2x.png") %> 632w,
                <%= require("./assets/pruduct9@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >丰富的数据可视化展示</h4>
            <p class="product-description" >图表类型丰富，几十种随意挑选</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct10@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct10@1x.png") %> 316w,
                <%= require("./assets/pruduct10@2x.png") %> 632w,
                <%= require("./assets/pruduct10@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >灵动的交互式图表</h4>
            <p class="product-description" >图表联动，数据不再静止，让数据说话。自由布局，图文混排，数据动向清晰明了</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct11@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct11@1x.png") %> 316w,
                <%= require("./assets/pruduct11@2x.png") %> 632w,
                <%= require("./assets/pruduct11@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >强大的数据分析功能</h4>
            <p class="product-description" >广泛支持数据多层钻取、横向钻取、筛选分析对比拆分等操作，深度挖掘数据背后的线索</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct12@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct12@1x.png") %> 316w,
                <%= require("./assets/pruduct12@2x.png") %> 632w,
                <%= require("./assets/pruduct12@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >数据故事</h4>
            <p class="product-description" >多种类、多终端的交互式图表和仪表盘，帮助决策者从容讲述数据背后的线索</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct13@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct13@1x.png") %> 316w,
                <%= require("./assets/pruduct13@2x.png") %> 632w,
                <%= require("./assets/pruduct13@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >数据驱动沟通</h4>
            <p class="product-description" >深度集成即时沟通工具，帮助全员围绕商业数据分享协作，让数据驱动沟通融入日常工作的方方面面</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct14@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct14@1x.png") %> 316w,
                <%= require("./assets/pruduct14@2x.png") %> 632w,
                <%= require("./assets/pruduct14@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >权限体系</h4>
            <p class="product-description" >灵活严谨的用户和角色体系，快速准确的赋予数据权限，兼具效率与安全</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct15@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct15@1x.png") %> 316w,
                <%= require("./assets/pruduct15@2x.png") %> 632w,
                <%= require("./assets/pruduct15@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >精细数据管控</h4>
            <p class="product-description" >提供行列粒度的数据权限控制，确保每一行每一列数据的访问都尽在掌控</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct16@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct16@1x.png") %> 316w,
                <%= require("./assets/pruduct16@2x.png") %> 632w,
                <%= require("./assets/pruduct16@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >流畅的移动设备体验</h4>
            <p class="product-description" >完善的移动交互体验，流畅进行图表缩放、数据钻取联动等操作，任何时候都能够便捷的查看和分析数据</p>
          </div>
          <div class="product-part" >
            <image
              class="spaice-img"
              src='<%= require("./assets/pruduct17@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct17@1x.png") %> 190w,
                <%= require("./assets/pruduct17@2x.png") %> 380w,
                <%= require("./assets/pruduct17@3x.png") %> 570W'
              sizes="
                (max-width:400px) 190px,
                (max-width:800px) 380px,
                (max-width:1300px)570px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >完善的移动设备功能</h4>
            <p class="product-description" >移动设备功能同样强大，全面支持数据分析、图表分享沟通等功能，助力高效移动办公</p>
          </div>
          <div class="product-part" >
            <image
              class="spaice-img"
              src='<%= require("./assets/pruduct18@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct18@1x.png") %> 238w,
                <%= require("./assets/pruduct18@2x.png") %> 476w,
                <%= require("./assets/pruduct18@3x.png") %> 714W'
              sizes="
                (max-width:400px) 238px,
                (max-width:800px) 476px,
                (max-width:1300px) 714px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >移动设备数据安全</h4>
            <p class="product-description" >多种认证机制、设备绑定、加密传输，全面保障移动设备安全访问数据</p>
          </div>
          <div class="product-part" >
            <image
              class="spaice-img"
              src='<%= require("./assets/pruduct19@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct19@1x.png") %> 316w,
                <%= require("./assets/pruduct19@2x.png") %> 632w,
                <%= require("./assets/pruduct19@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >消息推送</h4>
            <p class="product-description" >主动推送关键数据，及时了解关键数据的变化，无论身处何处，都能时刻保持与数据的连接</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct20@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct20@1x.png") %> 190w,
                <%= require("./assets/pruduct20@2x.png") %> 380w,
                <%= require("./assets/pruduct20@3x.png") %> 570W'
              sizes="
                (max-width:400px) 190px,
                (max-width:800px) 380px,
                (max-width:1300px) 570px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >多屏支持</h4>
            <p class="product-description" >全面支持数据多屏展示，数据大屏、PC显示器、投影仪等，有价值的图表无所不在</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct21@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct21@1x.png") %> 316w,
                <%= require("./assets/pruduct21@2x.png") %> 632w,
                <%= require("./assets/pruduct21@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >实时数据大屏</h4>
            <p class="product-description" >实时展示最新数据动态，及时了解关键数据变化。以数据了解企业脉搏，及时预警，时刻激励</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct22@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct22@1x.png") %> 316w,
                <%= require("./assets/pruduct22@2x.png") %> 632w,
                <%= require("./assets/pruduct22@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>

        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >专属服务</h4>
            <p class="product-description" >完善的数据咨询和技术支持服务体系，7X24小时快速响应，为您提供坚实可靠的数据服务</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct23@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct23@1x.png") %> 316w,
                <%= require("./assets/pruduct23@2x.png") %> 632w,
                <%= require("./assets/pruduct23@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
        <div class="product-item" >
          <div class="product-part" >
            <h4 class="product-title" >仪表盘</h4>
            <p class="product-description" >聚合企业核心业务数据可视化指标，实时查看全局关键数据，快速洞察业务全局状态</p>
          </div>
          <div class="product-part" >
            <image
              src='<%= require("./assets/pruduct24@1x.png") %>'
              srcset='
                <%= require("./assets/pruduct24@1x.png") %> 316w,
                <%= require("./assets/pruduct24@2x.png") %> 632w,
                <%= require("./assets/pruduct24@3x.png") %> 948W'
              sizes="
                (max-width:400px) 316px,
                (max-width:800px) 632px,
                (max-width:1300px) 948px"
            />
          </div>
        </div>
      </section>
      <section class="reserve-form" >
        <h3 class="reserve-form-title" >预约体验ElephantBI</h3>
        <p class="reserve-form-subtitle" >ElephantBI团队会尽快跟您联系</p>
        <div class="form-input-wrap" >
          <form action="POST" name="form1" >
            <span class="form-item" data-attr="请输入姓名" >
              <div class="form-item-title" >姓名</div>
              <input class="form-input" type="text" name="name" placeholder="请输入姓名" />
            </span>
            <span class="form-item" data-attr="请输入邮箱" data-input="请输入企业邮箱" >
              <div class="form-item-title" >邮箱</div>
              <input class="form-input" type="text" name="email" placeholder="请输入邮箱" />
            </span>
            <span class="form-item" data-attr="请输入联系电话" data-input="请输入数字(支持+、-)" >
              <div class="form-item-title" >联系电话</div>
              <input class="form-input" type="text" name="mobile" placeholder="请输入联系电话" />
            </span>
            <span class="form-item" data-attr="请输入公司姓名" >
              <div class="form-item-title" >公司名称</div>
              <input class="form-input" type="text" name="company" placeholder="请输入公司名称" />
            </span>
            <span class="form-item" data-attr="请输入所属部门" >
              <div class="form-item-title" >所属部门</div>
              <input class="form-input" type="text" name="department" placeholder="请输入所属部门" />
            </span>
            <span class="form-item" data-attr="请输入职位" >
              <div class="form-item-title" >职位</div>
              <input class="form-input" type="text" name="title" placeholder="请输入职位" />
            </span>
          </form>
          <button class="form-submit-btn" id="form-submit-btn-id" >提交</button>
        </div>
        <img class="reserve-form-bg" src='<%= require("./assets/form-bg-pruduct.svg") %>' alt="">
      </section>
    </main>
    <footer class="footer-content" >
      <ul class="footer-nav" >
        <li class="footer-nav-icon" >
          <image
            src='<%= require("./assets/footer-icon.png") %>'
            srcset='
              <%= require("./assets/footer-icon.png") %> 107w,
              <%= require("./assets/footer-icon@2x.png") %> 214w,
              <%= require("./assets/footer-icon@3x.png") %> 321w'
            sizes="
              (max-width:400px) 107px,
              (max-width:800px) 214px,
              (max-width:1300px) 321px"
          />
        </li>
        <li class="footer-nav-list" >
          <ul>
            <li class="footer-list-title" >商务咨询</li>
            <li>
              <image
                src='<%= require("./assets/footer-phone.png") %>'
                srcset='
                  <%= require("./assets/footer-phone.png") %> 6w,
                  <%= require("./assets/footer-phone@2x.png") %> 8w,
                  <%= require("./assets/footer-phone@3x.png") %> 14w'
                sizes="
                  (max-width:400px) 6px,
                  (max-width:800px) 8px,
                  (max-width:1500px) 14px"
              />
              <span>0411-39026089</span>
            </li>
            <li>
              <image
                src='<%= require("./assets/footer-email.png") %>'
                srcset='
                  <%= require("./assets/footer-email.png") %> 6w,
                  <%= require("./assets/footer-email@2x.png") %> 8w,
                  <%= require("./assets/footer-email@3x.png") %> 14w'
                sizes="
                  (max-width:400px) 6px,
                  (max-width:800px) 8px,
                  (max-width:1500px) 14px"
              />
              <span>bd@elephantbi.com</span>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title" >技术支持</li>
            <li>
              <image
                src='<%= require("./assets/footer-time.png") %>'
                srcset='
                  <%= require("./assets/footer-time.png") %> 6w,
                  <%= require("./assets/footer-time@2x.png") %> 8w,
                  <%= require("./assets/footer-time@3x.png") %> 14w'
                sizes="
                  (max-width:400px) 6px,
                  (max-width:800px) 8px,
                  (max-width:1500px) 14px"
              />
              <span>09:00~19:00</span>
            </li>
            <li>
              <image
                src='<%= require("./assets/footer-phone.png") %>'
                srcset='
                  <%= require("./assets/footer-phone.png") %> 6w,
                  <%= require("./assets/footer-phone@2x.png") %> 8w,
                  <%= require("./assets/footer-phone@3x.png") %> 14w'
                sizes="
                  (max-width:400px) 6px,
                  (max-width:800px) 8px,
                  (max-width:1500px) 14px"
              />
              <span>18004083463</span>
            </li>
            <li>
              <image
                src='<%= require("./assets/footer-email.png") %>'
                srcset='
                  <%= require("./assets/footer-email.png") %> 6w,
                  <%= require("./assets/footer-email@2x.png") %> 8w,
                  <%= require("./assets/footer-email@3x.png") %> 14w'
                sizes="
                  (max-width:400px) 6px,
                  (max-width:800px) 8px,
                  (max-width:1500px) 14px"
              />
              <span>support@elephantbi.com</span>
            </li>
          </ul>
        </li>
        <li class="footer-nav-sq" >
          <image
            src='<%= require("./assets/footer-sq.png") %>'
            srcset='
              <%= require("./assets/footer-sq.png") %> 100w,
              <%= require("./assets/footer-sq@2x.png") %> 200w,
              <%= require("./assets/footer-sq@3x.png") %> 300w'
            sizes="
              (max-width:400px) 100px,
              (max-width:800px) 200px,
              (max-width:1300px) 300px"
          />
          <span class="footer-nav-sq-description" >关注 ElephantBI</span>
        </li>
      </ul>
      <div class="record" >辽ICP备18008272号</div>
    </footer>
  </div>
  <div class="modal" id="modal-application" >
    <a href="javascript:void(0)" id="modal-id-close" class="modal-close" >
      X
    </a>
    <h3 class="title" >
      预约体验ElephantBI
    </h3>
    <p class="sub-title" >
      ElephantBI团队将尽快和您联系
    </p>
    <form action="POST" name="formModal" >
      <span class="form-item" data-attr="请输入姓名" >
        <img src='<%= require("./assets/input-name.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="name" placeholder="请输入姓名" />
      </span>
      <span class="form-item" data-attr="请输入邮箱" data-input="请输入企业邮箱" >
        <img src='<%= require("./assets/input-email.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="email" placeholder="请输入邮箱" />
      </span>
      <span class="form-item" data-attr="请输入联系电话" data-input="请输入数字(支持+、-)" >
        <img src='<%= require("./assets/input-phone.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="mobile" placeholder="请输入联系电话" />
      </span>
      <span class="form-item" data-attr="请输入公司姓名" >
        <img src='<%= require("./assets/input-companyname.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="company" placeholder="请输入公司名称" />
      </span>
      <span class="form-item" data-attr="请输入所属部门" >
        <img src='<%= require("./assets/input-department.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="department" placeholder="请输入所属部门" />
      </span>
      <span class="form-item" data-attr="请输入职位" >
        <img src='<%= require("./assets/input-position.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="title" placeholder="请输入职位" />
      </span>
    </form>
    <button class="modal-submint" id="form-modal-submit-btn-id" >提交</button>
  </div>
  <div class="nav-modal" id="nav-modal-id" >
    <img src='<%= require("./assets/nav-modal-close.png") %>' width="28" height="28" class="nav-close" id="nav-modal-close-id" >
    <img src='<%= require("./assets/nav-modal-icon.png") %>' class="nav-icon" alt="" width="105" height="21" style="visibility:hidden" >
    <ul class="nav-content" >
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon1.png") %>' alt="">
        <a href="./index.html" class="nav-1" >首页</a>
      </li>
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon2.png") %>' alt="">
        <a href="./product.html" class="nav-2" >企业微信</a>
      </li>
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon3.png") %>' alt="">
        <a href="./server.html" class="nav-3" >服务支持</a>
      </li>
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon4.png") %>' alt="">
        <a href="./about.html" class="nav-4" >关于我们</a>
      </li>
    </ul>
  </div>
  <div id="cover"></div>
  <div class="tootip-modal" id="tootip-succeed" >
    <div class="tootip-icon" >
      <div class="tooptip-succeed" >
        <img src='<%= require("./assets/tootip-succeed.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content" >
      <div class="tootip-title" >提交成功</div>
      <div class="tootip-description" >ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err" >
    <div class="tootip-icon" >
      <div class="tooptip-err" >
        <img src='<%= require("./assets/tootip-err.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content" >
      <div class="tootip-title" >提交失败</div>
      <div class="tootip-description" >请电话联系：0411-39026089</div>
    </div>
  </div>
</body>
</html>