<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ElephantBI</title>
  <script>
    !function(e){function t(a){if(i[a])return i[a].exports;var n=i[a]={exports:{},id:a,loaded:!1};return e[a].call(n.exports,n,n.exports,t),n.loaded=!0,n.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.flex=function(e,t){var a=e||100,n=t||1,r=i.document,o=navigator.userAgent,d=o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=o.match(/U3\/((\d+|\.){5,})/i),c=l&&parseInt(l[1].split(".").join(""),10)>=80,p=navigator.appVersion.match(/(iphone|ipad|ipod)/gi),s=i.devicePixelRatio||1;p||d&&d[1]>534||c||(s=1);var u=1/s,m=r.querySelector('meta[name="viewport"]');m||(m=r.createElement("meta"),m.setAttribute("name","viewport"),r.head.appendChild(m)),m.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+u+",maximum-scale="+u+",minimum-scale="+u),r.documentElement.style.fontSize=a/2*s*n+"px"},e.exports=t["default"]}]);
    flex(200, 1);
  </script>
  <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
  <script>
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }
    if(!window.Promise) {
      document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
    }
  </script>
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网（手机端）";
  </script>
</head>
<body>
  <div id="root" >
    <header>
      <nav class="nav-content" >
        <ul class="nav-list" >
          <li class="nav-section logo" >
            <image src='<%= require("./assets/nav-logo-black.png") %>' width=206 height=41 id="logo" />
          </li>
          <li class="nav-section menu" >
            <div class="nav-mobile" >
              <img src='<%= require("./assets/nav-menu.png") %>' alt="" id="nav-menu-id" >
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content" >
      <div class="main-header-bg" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <header class="main-header" >
        <h1 class="title" >服务支持</h1>
        <span class="description" >大象BI拥有专业的商务团队和技术支持团队，将为您提供专业的服务</span>
        <button class="free-btn" id="free-btn-id" >免费试用</button>
      </header>
      <div class="banner" >
        <image class="banner-image" src='<%= require("./assets/main-header-banner-server.png") %>' width=415 height=380 >
      </div>
      <section class="server-stage" >
        <ul>
          <li class="server-title" >
            <image src='<%= require("./assets/server-title-icon1.png") %>' width=44 height=44 />
            <p>
              商务咨询
            </p>
          </li>
          <li>
            <image src='<%= require("./assets/footer-phone.png") %>' width=17 height=17 />
            <span>0411-39026089</span>
          </li>
          <li>
            <image src='<%= require("./assets/footer-email.png") %>' />
            <span>bd@elephantbi.com</span>
          </li>
        </ul>
        <ul>
          <li class="server-title" >
            <image src='<%= require("./assets/server-title-icon2.png") %>' width=44 height=44 />
            <p>
              技术支持
            </p>
          </li>
          <li>
            <image src='<%= require("./assets/footer-time.png") %>' />
            <span>09:00~19:00</span>
          </li>
          <li>
            <image src='<%= require("./assets/footer-phone.png") %>' width=17 height=17 />
            <span>18004083463</span>
          </li>
          <li>
            <image src='<%= require("./assets/footer-email.png") %>' />
            <span>support@elephantbi.com</span>
          </li>
        </ul>
        <ul>
          <li class="server-title" >
            <image src='<%= require("./assets/server-title-icon3.png") %>' width=44 height=44 />
            <p>
              投诉
            </p>
          </li>
          <li>
            <image src='<%= require("./assets/footer-phone.png") %>' width=17 height=17 />
            <span>总裁办电话 15910603382</span>
          </li>
        </ul>
      </section>
      <div class="line" ></div>
      <section class="reserve-form" >
        <h3 class="reserve-form-title" >反馈与建议</h3>
        <p class="reserve-form-subtitle" >填写下面的表格，我们将会尽快给您回复</p>
        <form action="POST" name="formReserve" >
          <span class="form-item" data-attr="请输入姓名" >
            <img src='<%= require("./assets/input-name.png") %>' />
            <input class="form-input" type="text" name="name" placeholder="姓名" />
          </span>
          <span class="form-item" data-attr="请输入邮箱" data-input="请输入企业邮箱" >
            <img src='<%= require("./assets/input-email.png") %>' />
            <input class="form-input" type="text" name="email" placeholder="邮箱" />
          </span>
          <span class="form-item" data-attr="请输入联系电话" data-input="请输入数字(支持+、-)" >
            <img src='<%= require("./assets/input-phone.png") %>' />
            <input class="form-input" type="text" name="mobile" placeholder="联系电话" />
          </span>
          <span class="form-item" data-attr="请输入公司姓名" >
            <img src='<%= require("./assets/input-companyname.png") %>' />
            <input class="form-input" type="text" name="company" placeholder="公司名称" />
          </span>
          <span class="form-radio" >
            <input type="radio" name="type" id="1" checked />
            <label for="1">问题反馈</label>
            <input type="radio" name="type" id="2" />
            <label for="2">功能建议</label>
          </span>
          <span class="form-wrap" data-attr="请填写问题或建议" >
            <textarea class="form-textarea" name="content" id="content" cols="45" rows="5" placeholder="请填写您想反馈的问题或建议" ></textarea>
          </span>
        </form>
        <button class="form-submit-btn" id="form-reserve-submit-btn-id" >提交</button>
      </section>
    </main>
    <footer class="footer-content" >
      <ul class="footer-nav" >
        <li class="footer-nav-icon" >
          <image src='<%= require("./assets/footer-icon.png") %>' width=100 />
        </li>
        <li class="footer-nav-list" >
          <ul>
            <li class="footer-list-title" >
              <a href="./index.html">首页</a>
            </li>
            <li>
              <a href="./product.html">产品介绍</a>
            </li>
            <li>
              <a href="./server.html">服务支持</a>
            </li>
            <li>
              <a href="./about.html">关于我们</a>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title" >商务咨询</li>
            <li>
              <image src='<%= require("./assets/footer-phone.png") %>' width=17 height=17 />
              <span>0411-39026089</span>
            </li>
            <li>
              <image src='<%= require("./assets/footer-email.png") %>' />
              <span>bd@elephantbi.com</span>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title" >技术支持</li>
            <li>
              <image src='<%= require("./assets/footer-time.png") %>' />
              <span>09:00~19:00</span>
            </li>
            <li>
              <image src='<%= require("./assets/footer-phone.png") %>' width=17 height=17 />
              <span>18004083463</span>
            </li>
            <li>
              <image src='<%= require("./assets/footer-email.png") %>' />
              <span>support@elephantbi.com</span>
            </li>
          </ul>
        </li>
        <li class="footer-nav-sq" >
          <image src='<%= require("./assets/footer-sq.png") %>' width=100 />
          <span class="footer-nav-sq-description" >关注 ElephantBI</span>
        </li>
      </ul>
      <div class="record" >辽ICP备18008272号</div>
    </footer>
  </div>
  <div class="modal" id="modal-application" >
    <a href="javascript:void(0)" id="modal-id-close" class="modal-close" >
      X
    </a>
    <h3 class="title" >
      预约体验大象BI
    </h3>
    <p class="sub-title" >
      大象BI团队将尽快和您联系
    </p>
    <form action="POST" name="formModal" >
      <span class="form-item" data-attr="请输入姓名" >
        <img src='<%= require("./assets/input-name.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="name" placeholder="姓名" />
      </span>
      <span class="form-item" data-attr="请输入邮箱" data-input="请输入企业邮箱" >
        <img src='<%= require("./assets/input-email.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="email" placeholder="邮箱" />
      </span>
      <span class="form-item" data-attr="请输入联系电话" data-input="请输入数字(支持+、-)" >
        <img src='<%= require("./assets/input-phone.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="mobile" placeholder="联系电话" />
      </span>
      <span class="form-item" data-attr="请输入公司姓名" >
        <img src='<%= require("./assets/input-companyname.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="company" placeholder="公司名称" />
      </span>
      <span class="form-item" data-attr="请输入所属部门" >
        <img src='<%= require("./assets/input-department.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="department" placeholder="所属部门" />
      </span>
      <span class="form-item" data-attr="请输入职位" >
        <img src='<%= require("./assets/input-position.png") %>' width=16 height=16 />
        <input class="form-input" type="text" name="title" placeholder="职位" />
      </span>
    </form>
    <button class="modal-submint" id="form-modal-submit-btn-id" >提交</button>
  </div>
  <div class="nav-modal" id="nav-modal-id" >
    <img src='<%= require("./assets/nav-modal-close.png") %>' width="12" height="12" class="nav-close" id="nav-modal-close-id" >
    <img src='<%= require("./assets/nav-modal-icon.png") %>' class="nav-icon" alt="" width="105" height="21" >
    <ul class="nav-content" >
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon1.png") %>' alt="">
        <a href="./index.html" class="nav-1" >首页</a>
      </li>
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon2.png") %>' alt="">
        <a href="./product.html" class="nav-2" >产品介绍</a>
      </li>
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon3.png") %>' alt="">
        <a href="./server.html" class="nav-3" >服务支持</a>
      </li>
      <li class="nav-item" >
        <img src='<%= require("./assets/nav-icon4.png") %>' alt="">
        <a href="./about.html" class="nav-4" >关于我们</a>
      </li>
    </ul>
  </div>
  <div id="cover"></div>
  <div class="tootip-modal" id="tootip-succeed" >
    <div class="tootip-icon" >
      <div class="tooptip-succeed" >
        <img src="./assets/tootip-succeed.png" alt="">
      </div>
    </div>
    <div class="tootip-content" >
      <div class="tootip-title" >提交成功</div>
      <div class="tootip-description" >ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err" >
    <div class="tootip-icon" >
      <div class="tooptip-err" >
        <img src="./assets/tootip-err.png" alt="">
      </div>
    </div>
    <div class="tootip-content" >
      <div class="tootip-title" >提交失败</div>
      <div class="tootip-description" >请电话联系：0411-39026089</div>
    </div>
  </div>
</body>
</html>