@import url(./base.less);
@import url(./global.less);

@btn-size: 53px;
@box-height: 480px;
@card-height: 350px;
@card-width: 500px;

.card-image-1 {
  background: ~'url("../assets/card1.png") no-repeat 0 0/500px 350px';
}
.card-image-2 {
  background: ~'url("../assets/card2.png") no-repeat 0 0/500px 350px';
}
.card-image-3 {
  background: ~'url("../assets/card3.png") no-repeat 0 0/500px 350px';
}
.card-image-4 {
  background: ~'url("../assets/card4.png") no-repeat 0 0/500px 350px';
}
.card-image-5 {
  background: ~'url("../assets/card5.png") no-repeat 0 0/500px 350px';
}
.card-image-6 {
  background: ~'url("../assets/card6.png") no-repeat 0 0/500px 350px';
}
.card-image-7 {
  background: ~'url("../assets/card7.png") no-repeat 0 0/500px 350px';
}
.card-image-8 {
  background: ~'url("../assets/card8.png") no-repeat 0 0/500px 350px';
}
.card-image-9 {
  background: ~'url("../assets/card9.png") no-repeat 0 0/500px 350px';
}
.card-image-10 {
  background: ~'url("../assets/card10.png") no-repeat 0 0/500px 350px';
}
.card-image-11 {
  background: ~'url("../assets/card11.png") no-repeat 0 0/500px 350px';
}
.card-image-12 {
  background: ~'url("../assets/card12.png") no-repeat 0 0/500px 350px';
}

main.main-content {
  padding-top: 0px;
}

.nav-content {
  .nav-content-creat(#fff, #fff, #4a83ff);
  #nav-login {
    &:hover {
      color: #32325d;
      border-color: #32325d;
    }
  }
  .register-btn {
    &:hover {
      background-color: #f5f5f9
    }
  }
}

.nav-scroll-white {
  .nav-content-creat(#6b7c93, #1db977);
  #nav-login {
    &:hover {
      background-color: #f5f5f9
    }
  }
}

#input-hosts:focus {
  border: #63B8FF solid 1px;
  outline: none;
}
.nav-header {
  background-color: #fff;
}

.main-content {
  position: relative;

  .main-header {
    width: 100%;
    height: 640px;
    background-image: url(../assets/demo-bg.svg);
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    position: relative;

    .main-banner-1 {
      position: absolute;
      top: 160px;
      left: 50%;
      transform: translateX(-190%)
    }

    .main-banner-2 {
      position: absolute;
      bottom: 60px;
      right: 50%;
      transform: translateX(172%)
    }

    .main-cover {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: rgba(0, 0, 0, 0.3);
      padding-top: 178px;
      text-align: center;
    }

    h1, h2, p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 62px;
    }
    .sub-title {
      font-weight: 500;
      font-size: 32px;
    }
    .description {
      display: inline-block;
      max-width: 67%;
      min-width: 400px;
      margin-top: 20px;

      vertical-align: top;
      font-size: 14px;
      div {
        margin-bottom: 1px;
      }
    }
    .play-btn {
      display: block;
      margin: 30px auto 0px auto;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.16)
      }
    }
    .free-btn {
      .a-link-btn(#fff, #40d08f, #40d08f);
      margin-top: 30px;
      width: 120px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
    }
    .reserve-btn {
      .a-link-btn(#40d08f, #fff, #fff);
      margin-top: 30px;
      width: 120px;
      height: 36px;
      line-height: 36px;
      margin-left: 24px;
      font-size: 14px;
      box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: #f5f5f9;
        border-color: #f5f5f9;
      }
    }
  }

  .show-box {
    width: 1200px;
    position: relative;
    height: 480px;
    margin: 0 auto;
    padding: @box-height / 2 0px 0 0px;
    overflow: hidden;
    box-sizing: border-box;

    .box-title {
      display: inline-block;
      color: @color-green;
      .box-title-name {
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 0;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        margin: 0;
        line-height: 1;
      }
    }

    .box-item {
      display: inline-block;
      width: 600px;
      width: @half-percent;
      transform: translateY(-50%);
      overflow: hidden;
      box-sizing: border-box;
      vertical-align: top;
    }

    .left {
      padding-left: 120px;
      float: left;
    }

    .right {
      padding-right: 120px;
      float: left;
      text-align: right
    }

    .box-right-content {
      display: inline-block;
      text-align: left;
      padding-left: 120px;
    }

    .box-list {
      color: @color-base;
      list-style: none;
      padding: 0;
      margin-top: 20px;
      font-size: 14px;
      li {
        margin: 5px 0;
      }
      li:before {
        content:'';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background:@color-green;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
        margin-top: -3px
      }
    }
  }
}

.industry-section {
  width: 1200px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;
  .industry-main-title {
    font-size: 24px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
  }
  .industry-list {
    padding: 0px;
    margin: 0px auto;
    width: 1020px;
    li {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      display: inline-block;
      width: 320px;
      height: 240px;
      box-shadow: 2px 2px 5px #f5f5f9,2px -2px 5px #f5f5f9,-2px 2px 5px #f5f5f9,-2px -2px 5px #f5f5f9;
      margin: 0px 8px 20px 8px;
      background-color: #fff;
      vertical-align: top;
      position: relative;
      .industry-title-img {
        margin-right: 10px;
        margin-top: 30px;
        margin-left: 30px;
        float: left;
      }
      .industry-title {
        font-size: 24px;
        color: #34404e;
        display: inline-block;
        margin-top: 28px;
        font-weight: 500;
      }
      .industry-description {
        width: 270px;
        font-size: 14px;
        color: #757575;
        margin-top: 10px;
        margin-left: 30px;
      }
      .industry-operator {
        position: absolute;
        .creatFullButton(#40d08f, #fff);
        width: 120px;
        height: 36px;
        font-size: 14px;
        left: 30px;
        bottom: 20px;
        border: 1px solid #40d08f;
        &:hover {
          background-color: #f5f5f9;
        }      
      }
      .demo-btn {
        position: absolute;
        .a-link-btn(#40d08f, #fff, #40d08f);
        width: 120px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        left: 30px;
        bottom: 20px;
        &:hover {
          background-color: #f5f5f9;
        }
      }
    }
  }
}

.register-section {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #fff;
  padding-top: 80px;
  .register-section-title {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 500;
  }
  .register-section-subTitle {
    color: #b4b4b4;
    font-size: 14px;
    margin-top: 10px;
  }
  .register-section-button {
    .a-link-btn(#fff, #40d08f, #40d08f);
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    margin: 20px 0px 80px 0px;
  }
}

.main-header-bg {
  width: 100%;
  height: 900px;
  position: absolute;
  top: -222px;
  z-index: -999;
  transform: skewY(-12deg);
  transform-origin: 0;
  overflow: hidden;

  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

  span {
    display: inline-block;
    position: absolute;
    height: 200px;
  }

  span:first-child {
    width: 33.33333%;
    left: -16.66666%;
    background-color: #53f;
  }
  span:nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }
  span:nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }
  span:nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }
  span:nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}

.gray-bg-creat(@list-id, @offset: 0) {
  .gray-bg-@{list-id} {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 330px + @list-id * 1150 + @offset + 150;
    z-index: -999;
    transform: translateY(-100%);

    overflow: hidden;
    
    &:before {
      width: 100%;
      height: 600px;
      content: '';
      position: absolute;
      bottom: -200px;
      left: 0;
      z-index: -998;

      // transform-origin: 0;
      transform: skewY(-8deg);
      background-color: #f8f9fd;
    }
  }
}

.gray-bg-creat(1, -80);
.gray-bg-creat(2, -270);
.gray-bg-creat(4, -400);

.gray-bg-3 {
  height: 900px;
  transform: skewY(-12deg);
  background-color: #f8f9fd;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -998;
  @span-height: 50px;
  span {
    display: inline-block;
    position: absolute;
    height: @span-height;
  }

  span:first-child {
    width: 6%;
    left: 3%;
    top: @span-height * -3;
    background-color: #90aeff;
  }
  span:nth-child(2) {
    width: 14%;
    top: @span-height * -2;
    left: 0%;
    right: auto;
    background: #6dd69c;
  }
  span:nth-child(3) {
    width: 20%;
    left: 0%;
    top: @span-height * -1;
    bottom: auto;
    background: #e9edfb;
  }
  span:nth-child(4) {
    width: 8%;
    top: 0;
    right: 8%;
    background: #58a5ff;
  }
  span:nth-child(5) {
    width: 15%;
    right: 0;
    top: @span-height;
    background: #e9edfb;
  }
  span:nth-child(6) {
    width: 6%;
    right: 8%;
    top: -@span-height * 2 - 30px;
    background: #6dd69c;
  }
  span:nth-child(7) {
    width: 6%;
    right: 10%;
    top: @span-height * 4;
    border: 1px solid #e9edfb;
  }
}

.gray-bg-4 {
  height: 800px;

  &:before {
    height: 600px;
  }

  .block-group {
    width: 100%;
    height: 700px;
    position: absolute;
    bottom: -300px;
    left: 0;

    z-index: -99;
    transform: skewY(-12deg);

    @span-height: 50px;

    span {
      display: block;
      position: absolute;
      height: @span-height;
    };

    span:nth-child(1) {
      top: @span-height * -2;
      left: 3%;
      width: 6%;
      
      background-color: #89adfb;
    };
    span:nth-child(2) {
      top: @span-height * -1;
      left: 0;
      width: 14%;
      
      background-color: #61d59e;
    };
    span:nth-child(3) {
      top: 0;
      left: 0;
      width: 40%;
      
      background-color: #e8ecfa;
    };
    span:nth-child(4) {
      top: @span-height * 1;
      left: 4%;
      width: 6%;
      
      border: 1px solid #f3f4f7;
    };
    span:nth-child(5) {
      top: 20px + @span-height * 2;
      left: 0;
      width: 8%;
      
      border: 1px solid #f3f4f7;
    };
    span:nth-child(6) {
      top: @span-height * -2;
      right: 3%;
      width: 7%;
      
      background-color: #61d59e;
    };
    span:nth-child(7) {
      top: 0;
      right: 0;
      width: 40%;
      
      background-color: #4ca5fc;
    };
    span:nth-child(8) {
      top: @span-height * 1;
      right: 0;
      width: 40%;
      
      background-color: #e8ecfa;
    };
    span:nth-child(9) {
      top: @span-height * 4;
      right: 5%;
      width: 8%;
      
      border: 1px solid #f3f4f7;
    };
  }
}

.cards {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.box-title-img {
  vertical-align: center;
  margin-right: 20px;
  margin-bottom: -3px;
}

#wx-login {
  &:hover {
    font-weight: bold;
  }
}

.official-video {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 700;
  width: 960px;
  height: 540px;
  transform: translateX(-50%) translateY(-50%);
  .video-mask {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 800;
    text-align: center;
    display: none;
    .video-replay {
      display: block;
      margin: 216px auto 0px auto;
      width: 24px;
      cursor: pointer;
    }
    .replay-text {
      font-size: 12px;
      color: #fff;
      margin-top: 4px;
    }
    .actions {
      margin-top: 20px;
      .free-btn {
        .a-link-btn(#fff, #40d08f, #40d08f);
        height: 30px;
        line-height: 30px;
        margin-right: 20px;
      }
      .reserve-btn {
        .a-link-btn(#40d08f, #fff, #fff);
        height: 30px;
        line-height: 30px;
        &:hover {
          background-color: #f5f5f9;
          border-color: #f5f5f9;
        }
      }
    }
    .custom-service-sq {
      position: absolute;
      top: 24px;
      right: 24px;
      text-align: center;
      font-size: 12px;
      color: #d1d1d1;
      img {
        margin: 0px auto 10px auto;
        display: block;
      }
    }
  }
  .video-js {
    width: 100%;
    width: 960px;
    height: 540px;
    position: relative;
    .vjs-big-play-button {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      line-height: 80px;
      outline: none;
    }
  }

  .close-video {
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 0px;
    transform: translateX(150%) translateY(-150%)
  }
}

.video-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #000;
  z-index: 600;
  opacity: 0.5
}
