@import url(./base.less);
@import url(./global.less);

@btn-size: 53px;
@box-height: 600px;
@card-height: 350px;
@card-width: 500px;

.card-image-1 {
  background: ~'url("../assets/card1.png") no-repeat 0 0/500px 350px';
}
.card-image-2 {
  background: ~'url("../assets/card2.png") no-repeat 0 0/500px 350px';
}
.card-image-3 {
  background: ~'url("../assets/card3.png") no-repeat 0 0/500px 350px';
}
.card-image-4 {
  background: ~'url("../assets/card4.png") no-repeat 0 0/500px 350px';
}
.card-image-5 {
  background: ~'url("../assets/card5.png") no-repeat 0 0/500px 350px';
}
.card-image-6 {
  background: ~'url("../assets/card6.png") no-repeat 0 0/500px 350px';
}
.card-image-7 {
  background: ~'url("../assets/card7.png") no-repeat 0 0/500px 350px';
}
.card-image-8 {
  background: ~'url("../assets/card8.png") no-repeat 0 0/500px 350px';
}
.card-image-9 {
  background: ~'url("../assets/card9.png") no-repeat 0 0/500px 350px';
}
.card-image-10 {
  background: ~'url("../assets/card10.png") no-repeat 0 0/500px 350px';
}
.card-image-11 {
  background: ~'url("../assets/card11.png") no-repeat 0 0/500px 350px';
}
.card-image-12 {
  background: ~'url("../assets/card12.png") no-repeat 0 0/500px 350px';
}

.nav-content {
  .nav-content-creat(#fff, #fff, #4a83ff);
}

.nav-scroll-white {
  .nav-content-creat(#6b7c93, #1db977);
}

#input-hosts:focus {
  border: #63B8FF solid 1px;
  outline: none;
}

.main-content {
  position: relative;

  .main-header {
    width: @max-width;
    margin: 140px auto 50px auto;
    padding: 0 50px;
    height: 500px;

    box-sizing: border-box;

    color: #fff;

    h1, h2, p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 62px;
    }
    .sub-title {
      margin-top: 10px;

      font-size: 32px;
    }
    .description {
      display: inline-block;
      max-width: 47%;
      min-width: 300px;
      margin-top: 26px;

      vertical-align: top;
      font-size: 14px;
    }
    .banner {
      display: inline-block;
      position: relative;
      width: 10px;
      height: 10px;

      vertical-align: top;

      .banner-image {
        width: 1133px;
        height: 1070px;
        position: absolute;
        bottom: -800px;
        left: -70px;
        z-index: -1;
      }
    }
    .free-btn, .reserve-btn {
      .creatFullButton(#fff, #40d08f);

      display: inline-block;
      margin-top: 74px;
      width: 120px;
      height: 36px;
      font-size: 14px;
      border-radius: 5px;
      box-shadow: 2px 1px 4px #287fbc;
    }
    .reserve-btn {
      margin-left: 20px;
      background-color: #fff;
      color: #40d08f;
      border-color: #fff;
      font-size: 14px;
    }
  }

  .show-box {
    width: 1200px;
    position: relative;
    height: 588px;
    margin: 0 auto;
    padding: @box-height / 2 0px 0 0px;
    overflow: hidden;
    box-sizing: border-box;

    .box-title {
      display: inline-block;
      color: @color-green;
      .box-title-name {
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 0;
      }
      p {
        font-size: 14px;
        margin: 0;
        line-height: 1;
      }
    }

    .box-item {
      display: inline-block;
      width: 600px;
      width: @half-percent;
      transform: translateY(-50%);
      overflow: hidden;
      box-sizing: border-box;
      vertical-align: top;
    }

    .left {
      padding-left: 128px;
      float: left;
    }

    .right {
      padding-right: 128px;
      float: left;
      text-align: right
    }

    .box-right-content {
      display: inline-block;
      text-align: left;
      padding-left: 120px;
    }

    .box-list {
      color: @color-base;
      list-style: none;
      padding: 0;
      margin-top: 20px;
      font-size: 14px;
      li {
        margin: 5px 0;
      }
      li:before {
        content:'';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background:@color-green;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
        margin-top: -3px
      }
    }
  }
}

.industry-section {
  width: 1200px;
  margin: auto;
  .industry-main-title {
    font-size: 24px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .industry-list {
    padding: 0px;
    margin: 0px auto;
    width: 1020px;
    li {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      display: inline-block;
      width: 320px;
      height: 240px;
      box-shadow: 2px 2px 5px #f5f5f9;
      margin: 0px 8px 20px 8px;
      background-color: #fff;
      vertical-align: top;
      .industry-title-img {
        margin-right: 10px;
        margin-top: 30px;
        margin-left: 30px;
        float: left;
      }
      .industry-title {
        font-size: 24px;
        color: #34404e;
        display: inline-block;
        margin-top: 28px;
      }
      .industry-description {
        width: 270px;
        font-size: 14px;
        color: #757575;
        margin-top: 10px;
        margin-left: 30px;
      }
      .industry-operator {
        .creatFullButton(#40d08f, #fff);
        width: 120px;
        height: 36px;
        margin: 30px 0px 0px 30px;
        font-size: 14px;
        border: 1px solid #40d08f
      }
    }
  }
}

.register-section {
  width: 1200px;
  margin: auto;
  text-align: center;
  .register-section-title {
    color: #4a4a4a;
    font-size: 24px;
    margin-top: 140px;
  }
  .register-section-subTitle {
    color: #b4b4b4;
    font-size: 14px;
    margin-top: 10px;
  }
  .register-section-button {
    .creatFullButton(#fff,#1bbd7a);
    width: 120px;
    font-size: 14px;
    height: 36px;
    margin: 20px 0px 80px 0px;
  }
}

.main-header-bg {
  width: 100%;
  height: 900px;
  position: absolute;
  top: -222px;
  z-index: -999;
  transform: skewY(-12deg);
  transform-origin: 0;
  overflow: hidden;

  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

  span {
    display: inline-block;
    position: absolute;
    height: 200px;
  }

  span:first-child {
    width: 33.33333%;
    left: -16.66666%;
    background-color: #53f;
  }
  span:nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }
  span:nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }
  span:nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }
  span:nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}

.gray-bg-creat(@list-id, @offset: 0) {
  .gray-bg-@{list-id} {
    height: 700px;
    width: 100%;
    position: absolute;
    top: 500px + @list-id * 1200 + @offset + 150;
    z-index: -999;
    transform: translateY(-100%);

    overflow: hidden;
    
    &:before {
      width: 100%;
      height: 700px;
      content: '';
      position: absolute;
      bottom: -200px;
      left: 0;
      z-index: -998;

      // transform-origin: 0;
      transform: skewY(-9deg);
      background-color: #f8f9fd;
    }
  }
}

.gray-bg-creat(1);
.gray-bg-creat(2);
.gray-bg-creat(3);
.gray-bg-creat(4, -400);

.gray-bg-3 {
  top: 4380px;
}

.gray-bg-4 {
  height: 800px;

  &:before {
    height: 600px;
  }

  .block-group {
    width: 100%;
    height: 700px;
    position: absolute;
    bottom: -300px;
    left: 0;

    z-index: -99;
    transform: skewY(-12deg);

    @span-height: 50px;

    span {
      display: block;
      position: absolute;
      height: @span-height;
    };

    span:nth-child(1) {
      top: @span-height * -2;
      left: 3%;
      width: 6%;
      
      background-color: #89adfb;
    };
    span:nth-child(2) {
      top: @span-height * -1;
      left: 0;
      width: 14%;
      
      background-color: #61d59e;
    };
    span:nth-child(3) {
      top: 0;
      left: 0;
      width: 40%;
      
      background-color: #e8ecfa;
    };
    span:nth-child(4) {
      top: @span-height * 1;
      left: 4%;
      width: 6%;
      
      border: 1px solid #f3f4f7;
    };
    span:nth-child(5) {
      top: 20px + @span-height * 2;
      left: 0;
      width: 8%;
      
      border: 1px solid #f3f4f7;
    };
    span:nth-child(6) {
      top: @span-height * -2;
      right: 3%;
      width: 7%;
      
      background-color: #61d59e;
    };
    span:nth-child(7) {
      top: 0;
      right: 0;
      width: 40%;
      
      background-color: #4ca5fc;
    };
    span:nth-child(8) {
      top: @span-height * 1;
      right: 0;
      width: 40%;
      
      background-color: #e8ecfa;
    };
    span:nth-child(9) {
      top: @span-height * 4;
      right: 5%;
      width: 8%;
      
      border: 1px solid #f3f4f7;
    };
  }
}

.cards {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.box-title-img {
  vertical-align: center;
  margin-right: 20px;
  margin-bottom: -3px;
}

#wx-login {
  &:hover {
    font-weight: bold;
  }
}
