@import url(./base.less);
@import url(./global.less);

@btn-size: 53px;
@box-height: 600px;
@card-height: 350px;
@card-width: 500px;

.card-image-1 {
  background: ~'url("../assets/card1.png") no-repeat 0 0/500px 350px';
}
.card-image-2 {
  background: ~'url("../assets/card2.png") no-repeat 0 0/500px 350px';
}
.card-image-3 {
  background: ~'url("../assets/card3.png") no-repeat 0 0/500px 350px';
}
.card-image-4 {
  background: ~'url("../assets/card4.png") no-repeat 0 0/500px 350px';
}
.card-image-5 {
  background: ~'url("../assets/card5.png") no-repeat 0 0/500px 350px';
}
.card-image-6 {
  background: ~'url("../assets/card6.png") no-repeat 0 0/500px 350px';
}
.card-image-7 {
  background: ~'url("../assets/card7.png") no-repeat 0 0/500px 350px';
}
.card-image-8 {
  background: ~'url("../assets/card8.png") no-repeat 0 0/500px 350px';
}
.card-image-9 {
  background: ~'url("../assets/card9.png") no-repeat 0 0/500px 350px';
}
.card-image-10 {
  background: ~'url("../assets/card10.png") no-repeat 0 0/500px 350px';
}
.card-image-11 {
  background: ~'url("../assets/card11.png") no-repeat 0 0/500px 350px';
}
.card-image-12 {
  background: ~'url("../assets/card12.png") no-repeat 0 0/500px 350px';
}

.nav-content {
  .nav-content-creat(#fff, #fff, #4a83ff);
}

.main-content {
  position: relative;

  .main-header {
    width: @max-width;
    margin: 140px auto 50px auto;
    padding: 0 100px;
    height: 500px;

    box-sizing: border-box;

    color: #fff;

    h1, h2, p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 62px;
    }
    .sub-title {
      margin-top: 10px;

      font-size: 42px;
    }
    .description {
      display: inline-block;
      max-width: 45%;
      min-width: 300px;
      margin-top: 26px;

      vertical-align: top;
      font-size: 16px;
    }
    .banner {
      display: inline-block;
      position: relative;
      width: 10px;
      height: 10px;

      vertical-align: top;

      .banner-image {
        width: 1133px;
        height: 1070px;
        position: absolute;
        bottom: -800px;
        left: 0px;
        z-index: -1;
      }
    }
    .free-btn {
      .creatFullButton(#fff, #40d08f);

      display: block;
      margin-top: 76px;
      width: 150px;
      height: 50px;

      border-radius: 5px;
      box-shadow: 2px 1px 4px #287fbc;
    }

  }

  .show-box {
    width: 1200px;
    position: relative;
    height: @box-height;
    margin: 0 auto;
    padding: @box-height / 2 0px 0 100px;

    box-sizing: border-box;

    .box-title {
      display: inline-block;
      color: @color-green;
      h3 {
        font-size: 32px;
        margin: 0;
      }
      p {
        font-size: 20px;
        margin: 0;
        line-height: 1;
      }
    }

    .box-item {
      display: inline-block;
      max-width: 396px;
      width: @half-percent;
      transform: translateY(-50%);
      margin-right: 150px;

      box-sizing: border-box;
      vertical-align: top;
    }

    .right {
      transform: translate(150px, -50%);
    }

    .box-list {
      color: @color-base;
      list-style: none;
      padding: 0;
      li {
        margin: 5px 0;
      }
      li:before {
        content: "\25cf";
        margin-right: 6px;

        color: @color-green;
        font-size: 10px;
      }
    }
  }
}

.rotate-card {
  height: 700px;

  .rotate-card-title {
    margin: 85px 0;

    font-size: 30px;
    color: @color-title;
    text-align: center;
  }

  .card-stage {
    width: 1005px;
    height: 350px;
    margin: 0 auto;
    position: relative;

    background-color: #fff;
    box-shadow: 2px 7px 10px 4px #dfdfdf;
  }

  .show-card {
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 100%;
    z-index: 10px;

    box-sizing: content-box;

    transition: all 0.25s;
  }
  .show {
    opacity: 1;
    left: 0 !important;
  }

  .card-title {
    display: inline-block;
    width: @card-width;
    height: @card-height;

    color: #fff;
    font-size: 32px;
    line-height: @card-height;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
  }
  .card-description {
    display: inline-block;
    height: @card-height;

    vertical-align: top;
    box-sizing: border-box;
  }
  .card-p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 100px 0 20px;

    color: #909caa;
    font-size: 18px;
  }
  .card-btn {
    .creatButton(@color-green);

    position: absolute;
    bottom: -25px;
    left: 20px;
    transform: translateY(100%);
  }

  .btn-up, .btn-down {
    .clearButtonStyle();
    position: absolute;
    top: 50%;
    width: @btn-size;
    height: @btn-size;
    z-index: 99;

    border-radius: @btn-size / 2;
  }
  .btn-up {
    left: 0;
    transform: translate(-50%, -50%);

    background: ~'url("../assets/btn-up.png") no-repeat 0 0/@{btn-size} @{btn-size}';
  }
  .btn-down {
    right: 0;
    transform: translate(50%, -50%);

    background: ~'url("../assets/btn-down.png") no-repeat 0 0/@{btn-size} @{btn-size}';
  }
}

.main-header-bg {
  width: 100%;
  height: 900px;
  position: absolute;
  top: -300px;
  z-index: -999;
  transform: skewY(-12deg);
  transform-origin: 0;
  overflow: hidden;

  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

  span {
    display: inline-block;
    position: absolute;
    height: 200px;
  }

  span:first-child {
    width: 33.33333%;
    left: -16.66666%;
    background-color: #53f;
  }
  span:nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }
  span:nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }
  span:nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }
  span:nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}

.gray-bg-creat(@list-id, @offset: 0) {
  .gray-bg-@{list-id} {
    height: 700px;
    width: 100%;
    position: absolute;
    top: 500px + @list-id * 1200 + @offset;
    z-index: -999;
    transform: translateY(-100%);

    overflow: hidden;
    
    &:before {
      width: 100%;
      height: 700px;
      content: '';
      position: absolute;
      bottom: -200px;
      left: 0;
      z-index: -998;

      // transform-origin: 0;
      transform: skewY(-12deg);
      background-color: #f8f9fd;
    }
  }
}

.gray-bg-creat(1);
.gray-bg-creat(2);
.gray-bg-creat(3);
.gray-bg-creat(4, -400);

.gray-bg-4 {
  height: 800px;

  &:before {
    height: 600px;
  }

  .block-group {
    width: 100%;
    height: 700px;
    position: absolute;
    bottom: -300px;
    left: 0;

    z-index: -99;
    transform: skewY(-12deg);

    @span-height: 50px;

    span {
      display: block;
      position: absolute;
      height: @span-height;
    };

    span:nth-child(1) {
      top: @span-height * -2;
      left: 3%;
      width: 6%;
      
      background-color: #89adfb;
    };
    span:nth-child(2) {
      top: @span-height * -1;
      left: 0;
      width: 14%;
      
      background-color: #61d59e;
    };
    span:nth-child(3) {
      top: 0;
      left: 0;
      width: 40%;
      
      background-color: #e8ecfa;
    };
    span:nth-child(4) {
      top: @span-height * 1;
      left: 4%;
      width: 6%;
      
      border: 1px solid #f3f4f7;
    };
    span:nth-child(5) {
      top: 20px + @span-height * 2;
      left: 0;
      width: 8%;
      
      border: 1px solid #f3f4f7;
    };
    span:nth-child(6) {
      top: @span-height * -2;
      right: 3%;
      width: 7%;
      
      background-color: #61d59e;
    };
    span:nth-child(7) {
      top: 0;
      right: 0;
      width: 40%;
      
      background-color: #4ca5fc;
    };
    span:nth-child(8) {
      top: @span-height * 1;
      right: 0;
      width: 40%;
      
      background-color: #e8ecfa;
    };
    span:nth-child(9) {
      top: @span-height * 4;
      right: 5%;
      width: 8%;
      
      border: 1px solid #f3f4f7;
    };
  }
}

.cards {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.box-title-img {
  vertical-align: bottom;
}