@import url(./base.less);
@import url(./global.less);

.nav-content {
  .nav-content-creat(#6b7c93, #6871e7);
  #nav-login {
    &:hover {
      background-color: #f5f5f9
    }
  }
}

.nav-scroll-white {
  .nav-content-creat(#6b7c93, #1db977);
  #nav-login {
    &:hover {
      background-color: #f5f5f9
    }
  }
}

@product-item-height: 450px;

.product-banner-under-btn {
  padding-left: 3px;
  color: #6b7c93;
}

.main-content {
  h1, p {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  .main-header {
    width: @max-width;
    margin: 0 auto;
    height: 600px;
    padding: 122px 100px 0 100px;
    box-sizing: border-box;

    .main-header-box {
      height: 500px;
    }
    .title {
      display: block;
      max-width: 400px;
      font-weight: 500;
      color: #32325d;
      font-size: 32px;
    }
    .description {
      display: inline-block;
      min-width: 300px;
      margin-top: 20px;
      max-width: 415px;

      color: #64728c;
      font-size: 14px;
    }
    .banner {
      display: inline-block;
      position: relative;
      width: 10px;
      height: 10px;

      .banner-image {
        position: absolute;
        bottom: -150px;
        left: 90px;
        z-index: -1;
      }
    }
    .free-btn {
      .a-link-btn(#fff, #32325d, #32325d);
      margin-top: 30px;
      width: 120px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
    }
    .reserve-btn {
      .a-link-btn(#32325d, #fff, #32325d);
      margin-left: 20px;
      width: 120px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      &:hover {
        background-color: #eee;
      }
    }
  }

  .product-stage {
    width: @max-width;
    margin: 0 auto;
    .product-item {
      height: 350px;
      padding-top: @product-item-height / 2;

      text-align: center;
      box-sizing: border-box;
    }
    .product-part{
      display: inline-block;
      width: 505px;

      transform: translateY(-50%);
      vertical-align: top;
      text-align: left;
      
      img {
        display: block;
        box-shadow: 2px 2px 30px #8e8e8e;
      }

      .spaice-img {
        box-shadow: none;
      }
    }
    .product-part:nth-child(2) {
      .product-title {
        padding-left: 105px;
        font-weight: 500;
      }
      .product-description {
        width: 400px;
        padding-left: 105px;
      }
      img {
        margin-left: 105px;
      }
    }
    .product-title {
      padding: 0;
      margin: 0 0 20px 0;
      font-size: 24px;
      color: #373761;
      font-weight: 500;
    }
    .product-description {
      width: 400px;
      padding: 0;
      margin: 0;

      color: #6b7c93;
      font-size: 14px;
    }
  }
}

.register-section {
  width: 1200px;
  margin: auto;
  text-align: center;
  .register-section-title {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
  }
  .register-section-subTitle {
    color: #b4b4b4;
    font-size: 14px;
    margin-top: 10px;
  }
  .register-section-button {
    .a-link-btn(#fff, #6871e7, #6871e7);
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    margin: 20px 0px 80px 0px;
  }
}


@span-height: 50px;
.main-header-bg {
  display: block;
  height: 800px;
  width: 100%;
  min-width: 1200px;
  position: absolute;
  top: -50px;
  z-index: -999;
  transform: skewY(-12deg);
  transform-origin: 0;

  span {
    display: block;
    position: absolute;
    height: @span-height;
  };

  span:nth-child(1) {
    bottom: @span-height * 0;
    left: 0;
    width: 25%;
    
    background-color: #80baf9;
  };
  span:nth-child(2) {
    bottom: @span-height * 6;
    left: 0;
    width: 20%;
    
    background-color: #e5e9ef;
  };
  span:nth-child(3) {
    bottom: @span-height * 1;
    left: 10%;
    width: 8%;
    
    background-color: #6373e0;
  };
  span:nth-child(4) {
    bottom: @span-height * -1;
    left: 14%;
    width: 8%;
    
    background-color: #ffd474;
  };

  span:nth-child(5) {
    bottom: @span-height * 3;
    right: 0%;
    width: 30%;
    
    background-color: #ffd474;
  };
  span:nth-child(6) {
    bottom: @span-height * 1 + 10px;
    right: 10%;
    width: 10%;
    
    background-color: #e5e9ef;
  };
  span:nth-child(7) {
    bottom: @span-height * -1;
    right: 0%;
    width: 12%;
    
    background-color: #6373e0;
  };
  span:nth-child(8) {
    bottom: @span-height * -4;
    right: 0;
    width: 20%;
    
    background-color: #e5e9ef;
  };
  span:nth-child(9) {
    bottom: @span-height * -7;
    right: 12%;
    width: 8%;
    
    background-color: #6373e0;
  };
  span:nth-child(10) {
    bottom: @span-height * -6;
    right: 20%;
    width: 8%;
    
    border: 1px solid #f3f4f7;
  };
  span:nth-child(11) {
    bottom: @span-height * 0;
    right: 0;
    width: 50%;
    
    background-color: #80baf9;
  };
}

.isv {
  position: absolute;
  height: 44px;
  top: -1px;
}

#wx-login {
  .creatButton(#6b7c93);
  &:hover {
    font-weight: bold;
  }
}

.wx-btn {
  .clearAStyle();
  margin-right: 26px;
  background-color: transparent;
}

.isvWrap{
  display: inline-block;
  height: 37px;
  position: relative;
}
