.container {
  padding: 55px 0px;
  height: 350px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  .contentSection {
    max-width: 600px;
    width: 40%;
    float: left;
    padding-top: 70px;
    display: inline-block;
    text-align: left;
    .title {
      color: #4a4a4a;
      font-size: 20px;
      margin-bottom: 14px;
    }
    .content {
      color: #4a4a4a;
      font-size: 18px;
    }
  }
  .imgSection {
    max-width: 600px;
    width: 40%;
    height: 100%;
    float: left;
    display: inline-block;
  }
}