.container {
  .mainIntroduction {
    min-width: 1200px;
    background-image: url(assets/home.png);
    background-size: 100% 100%;
    padding-top: 191px;
    padding-bottom: 86px;
    color: #fff;
    text-align: center;
    .title {
      font-size: 60px;
      margin-bottom: 12px;
    }
    .firstLevelContent {
      font-size: 40px;
      margin-bottom: 9px;
    }
    .secondLevelContent {
      font-size: 25px;
      padding: 0px 360px;
      margin-bottom: 62px;
    }
    .actionButton {
      button {
        width: 215px;
        height: 60px;
        font-size: 16px;
        border-radius: 60px;
        font-size: 20px;
        letter-spacing: 4px;
      }
    }
  }
  .characters {
    padding: 51px 0px;
    text-align: center;
    .title {
      font-size: 30px;
      color: #1a1a1a;
    };
    .characterContents {
      max-width: 1200px;
      width: 80%;
      display: inline-block;
      .rowCard {
        display: flex;
        justify-content: center;
      }
    }
    button {
      width: 180px;
      height: 50px;
      font-size: 16px;
      border-radius: 60px;
      letter-spacing: 4px;
      background-color: #539ef2;
      color: #fff;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none
      }
    }
  };
  .industries {
    padding: 51px 0px;
    text-align: center;
    background-color: #F6F7FD;
    .title {
      font-size: 30px;
      color: #1a1a1a;
    }
    .industryContents {
      max-width: 1200px;
      width: 80%;
      display: inline-block;
      .rowCard {
        display: flex;
        justify-content: center;
      }
    }
    button {
      width: 180px;
      border-radius: 60px;
      font-size: 16px;
      height: 50px;
      letter-spacing: 4px;
      background-color: #539ef2;
      color: #fff;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none
      }
    }
  }
}