.container {
  .mainIntroduction {
    min-width: 1200px;
    background-image: url(assets/home.png);
    background-size: 100% 100%;
    padding-top: 191px;
    padding-bottom: 86px;
    color: #fff;
    text-align: center;
    .title {
      font-size: 60px;
      margin-bottom: 12px;
    }
    .firstLevelContent {
      font-size: 40px;
      margin-bottom: 9px;
    }
    .secondLevelContent {
      font-size: 25px;
      padding: 0px 360px;
      margin-bottom: 62px;
    }
    .actionButton {
      button {
        width: 250px;
        height: 70px;
        font-size: 16px;
        border-radius: 70px;
        font-size: 20px;
        letter-spacing: 4px;
      }
    }
  }
  .characters {
    padding: 51px 0px;
    text-align: center;
    .title {
      font-size: 35px;
      color: #1a1a1a;
    };
    .characterContents {
      .rowCard {
        display: flex;
        justify-content: center;
      }
    }
    button {
      width: 250px;
      height: 70px;
      font-size: 16px;
      border-radius: 70px;
      font-size: 20px;
      letter-spacing: 4px;
    }
  };
  .industries {
    padding: 51px 0px;
    text-align: center;
    background-color: #f0f0f0;
    .title {
      font-size: 35px;
      color: #1a1a1a;
    }
    button {
      width: 250px;
      font-size: 16px;
      border-radius: 70px;
      font-size: 20px;
      height: 70px;
      letter-spacing: 4px;
    }
  }
}