<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ElephantBI是企业大数据管理分析和商业智能平台。实时连接聚合企业所有数据，提供简单灵活的交互式可视化数据分析能力。ElephantBI是先进的敏捷BI，助您轻松将数据转化为深刻的商业见解，深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策，以数据推进企业数字化变革。">
  <meta name="mobile-agent" content="format=html5;url=https://m.elephantbi.com/about.html">
  <link ref="alternate" media="only screen and (max-width: 640px)" href="https://m.elephantbi.com/about.html">
  <title>ElephantBI - 关于我们</title>
  <link ref="canonical" href="https://www.elephantbi.com/about.html">
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网";

    window.corpid = 'WX_CORP_ID';
    window.imageEnv = 'IMAGE_ENV';
    window.OAUTHURL = 'OAUTH_URL';
    window.DEMOURL = 'DEMO_URL'
  </script>
  <script>
    if (window.host === 'https://www.elephantbi.com') {
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?75b7f1fb8fed402af2a2479288b0722e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    }
  </script>

</head>

<body>
  <div id="root">
    <header class="nav-header" id="nav-header">
      <img alt="商业智能交互式数据分析工具-关于我们" src='<%= require("./assets/site-img.jpg") %>' class="site-img" />
      <nav class="nav-content">
        <ul class="nav-list">
          <li class="nav-section logo">
            <img src='<%= require("./assets/nav-logo-black.svg") %>' width=160 height=32 id="logo" />
          </li>
          <li class="nav-section page-list">
            <a href="./product.html">产品</a>
            <a href="javascript:void(0)" id="nav-industry-link">行业DEMO</a>
            <a href="./demo.html">预约演示</a>
            <a href="./price.html">价格</a>
            <a href="./service.html">服务</a>
            <a class="selected" href="./about.html">关于</a>
            <div class="nav-industry-modal" id="nav-industry-modal">
              <div class="nav-industry-arrow"></div>
              <ul>
                <li>
                  <a class="industry0">互联网行业</a>
                </li>
                <li>
                  <a class="industry2">零售行业</a>
                </li>
                <li>
                  <a class="industry4">企业服务行业</a>
                </li>
                <li>
                  <a class="industry6">文娱行业</a>
                </li>
                <li>
                  <a class="industry8">教育行业</a>
                </li>
              </ul>
              <div class="divider"></div>
              <ul>
                <li>
                  <a class="industry1">金融行业</a>
                </li>
                <li>
                  <a class="industry3">制造行业</a>
                </li>
                <li>
                  <a class="industry5">电商行业</a>
                </li>
                <li>
                  <a class="industry7">餐饮行业</a>
                </li>
                <li>
                  <a class="industry9">物流行业</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-section login">
            <span class="login-btn-content">
              <button id="nav-login">登录</button>
              <div class="login-modal" id="login-modal">
                <div class="modal-arrow"></div>
                <span class="login-block-wrapper">
                  <span class="login-block">
                    <input class="login-cell" id="input-hosts" type="text" placeholder="请输入团队域名">
                    <span id="login-fixed" class="login-cell login-fixed">elephantbi.com</span>
                  </span>
                </span>
                <button class="login-btn" id="login-product">登录</button>
              </div>
            </span>
            <a class="register-btn" href="./register.html">免费注册</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content" id="main">
      <div class="about-content">
        <div class="main-header-bg" aria-hidden="true">
          <div class="bg-block">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <header class="main-header">
          <h1 class="title">关于我们</h1>
          <span class="description">ElephantBI企业大数据管理分析和商业智能平台，由悦视光合科技（大连）有限公司研发，公司专注于企业级大数据商业智能产品的研发及服务，核心团队成员来自百度、网易等一线互联网公司，拥有多年知名互联网产品的设计和研发经验，倡导人人可用的敏捷式BI产品设计，为企业提供商业智能解决方案，涉及大数据可视化分析服务、搭建大数据管理中心等，助力企业数据化精细管理。</span>
        </header>
        <section>
        </section>
        <section class="join-us">
          <div class="main-joinup-bg" aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h3 class="title">加入我们</h3>
          <p class="description">
            请注明应聘岗位，投递简历至
            <span class="email">
              recruit@visionpsn.com
            </span>
          </p>
          <div class="list">
            <ul>
              <li class="list-item list-select">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    Web后端开发工程师
                  </span>
                </a>
                <div class="position-description">
                  <ol>
                    <li>本科及以上学历，计算机相关专业；</li>
                    <li>具有优良的编码风格和习惯；</li>
                    <li>熟悉基本的数据结构和算法；</li>
                    <li>有Ruby或Python编程语言基础，了解Ruby on Rails或熟悉Django框架；</li>
                    <li>熟悉HTTP、TCP/IP协议，RESTful规范；</li>
                    <li>了解常用的数据库及缓存技术，例如MySQL, Redis等；</li>
                    <li>日常使用Mac或Linux开发环境，熟悉git、Linux基本命令；</li>
                    <li>学习能力强，工作积极主动，能承担工作压力。</li>
                  </ol>
                </div>
              </li>
              <li class="list-item">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    Web前端开发工程师
                  </span>
                </a>
                <div class="position-description">
                  <ol>
                    <li>本科及以上学历，计算机相关专业；</li>
                    <li>具有优良的编码风格和习惯；</li>
                    <li>熟悉基本的数据结构和算法；</li>
                    <li>精通JavaScript/ES6、HTML5、CSS3；</li>
                    <li>熟悉React.js和Redux；</li>
                    <li>了解常用的数据库及缓存技术，例如MySQL, Redis等；</li>
                    <li>日常使用Mac或Linux开发环境，熟悉git、Linux基本命令；</li>
                    <li>学习能力强，工作积极主动，能承担工作压力。</li>
                  </ol>
                </div>
              </li>
              <li class="list-item">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    产品经理
                  </span>
                </a>
                <div class="position-description">
                  <div class="position-title">【岗位职责】</div>
                  <ol>
                    <li>参与公司项目的产品设计，输出产品原型和文档</li>
                    <li>与用户沟通，国内外竞品分析，分析各类咨询报告，深刻了解用户的需求；</li>
                    <li>与设计、研发等部门保持良好的沟通，协同工作，保证产品设计的理念被良好的贯彻执行。</li>
                  </ol>
                  <div>【任职要求】</div>
                  <ol>
                    <li>本科及以上学历；</li>
                    <li>熟悉各类产品设计的工作和流程；</li>
                    <li>较强的用户需求判断、引导、控制能力强；</li>
                    <li>思路敏捷、超强的沟通能力、逻辑分析能力强；</li>
                    <li>有较强的抗压能力，具有较好的解决问题能力。</li>
                  </ol>
                </div>
              </li>
              <li class="list-item">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    商务拓展专员
                  </span>
                </a>
                <div class="position-description">
                  <div class="position-title">【岗位职责】</div>
                  <ol>
                    <li>积极拓展新客户，筛选有价值的客户信息，通过电话、邮件、拜访等各种渠道与新客户建立联系，充分了解客户需求并制定销售方案；</li>
                    <li>跟进并维修现有客户，及时更新公司产品信息，传达企业及品牌文化，分析客户管理问题和需求，并整合公司资源提供建议或产品；</li>
                    <li>建立客户档案，确保各项信息完整、准确、并做好动态管理；</li>
                    <li>充分挖掘自身工作潜力，收集一线营销信息、用户意见、当地市场信息、竞争对手信息等，对公司提出参考意见，并树立企业形象；</li>
                    <li>参与拓展公司的推广渠道及其他合作资源；</li>
                    <li>对内协助项目推进和落地，参与日常商务合同的准备处理，确保项目满足合同要求；</li>
                    <li>深入了解行业发展趋势，竞争格局，分析研究公司内外部产品以及研发趋势，形成有洞察力的分析报告，站在市场角度为产品提出需求，与产品经理协同形成解决方案。</li>
                  </ol>
                  <div>【任职要求】</div>
                  <ol>
                    <li>本科及以上学历，专业不限，有计算机相关专业背景者优先；</li>
                    <li>具备优秀的沟通协作能力和执行管理能力，思维活跃，领悟力强，乐于接受新鲜事物；</li>
                    <li>较好的书面和语言表达能力；</li>
                    <li>较强的团队协作精神，心态积极进取，愿意接受挑战，以结果为向导；</li>
                    <li>在SaaS方向有经验者更佳。</li>
                  </ol>
                </div>
              </li>
              <li class="list-item">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    UI设计师
                  </span>
                </a>
                <div class="position-description">
                  <div class="position-title">【岗位职责】</div>
                  <ol>
                    <li>参与公司WEB产品的界面设计、图标设计；</li>
                    <li>参与各产品团队设计讨论，和开发团队共同创建用户界面，跟踪产品效果，提出设计改善方案；</li>
                    <li>负责产品前期界面视觉用户研究、设计流行趋势分析。</li>
                  </ol>
                  <div>【任职要求】</div>
                  <ol>
                    <li>本科及以上学历，美术、设计相关专业优先；</li>
                    <li>相对于把一个icon做到极致逼真，我们更在意设计师对整体框架的把握，相对于把技巧用到极致，我们更在意设计师对整体风格的统一；</li>
                    <li>我们希望你是一个拥有良好习惯的人，小到像素和自重，大到图层和分组，希望每一个细节都足够认真</li>
                    <li>对新的设计趋势有足够的敏感度、热爱创意、热爱视觉表现、热爱一切美好的事物；</li>
                    <li>习惯先动脑，后动手，有较强执行能力；</li>
                    <li>善于表达和沟通，有较强团队合作意识；</li>
                    <li>有绘画基础，有良好的审美。</li>
                  </ol>
                </div>
              </li>
              <li class="list-item">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    运营专员
                  </span>
                </a>
                <div class="position-description">
                  <div class="position-title">【岗位职责】</div>
                  <ol>
                    <li>参与公司互联网产品线上线下整体运营，制定运营策略，方案并组织执行，推动产品商业模式的形成并不断优化；</li>
                    <li>参与制定公司运营事项决策及发展战略，实现运营管理目标；</li>
                    <li>参与运营部门的维护，持续优化完善运营制度和业务流程；</li>
                    <li>统计、分析公司产品数据，提出改进方案，及时调整运营竞争策略；</li>
                    <li>参与品牌、产品、市场的规划、用户体验、业务流程等的分析和改进，实现公司既定目标；</li>
                    <li>参与部门的日常管理，建立规范、高效的管理体系及工作流程，建设和发展优秀的人才队伍。</li>
                  </ol>
                  <div>【任职要求】</div>
                  <ol>
                    <li>本科及以上学历；</li>
                    <li>能组织各个部门进行产品线上线下运营及市场推广工作；</li>
                    <li>对互联网业务有深刻理解，能敏锐把握移动互联网发展趋势，具备策划能力；</li>
                    <li>沟通能力强，善于计划、组织并协调相关资源，确保工作顺利实施；</li>
                    <li>优秀的数据统计分析能力，能从数据中发现问题并提供解决方案；</li>
                    <li>拥有良好的商业意识和战略意识，具有优秀的管理才能和职业操守，能够承担较大的工作压力。</li>
                  </ol>
                </div>
              </li>
              <li class="list-item">
                <a href="javascript:void(0)" class="list-title">
                  <span class="icon-right"></span>
                  <span>
                    人力资源专员
                  </span>
                </a>
                <div class="position-description">
                  <div class="position-title">【岗位职责】</div>
                  <ol>
                    <li>维护招聘渠道，发布招聘信息并负责部分实习岗位的招聘；</li>
                    <li>协助策划并实施校招方案（文案专业、海报设计）；</li>
                    <li>负责统计候选人的信息，电话邀约、cold call、面试安排等；</li>
                    <li>招聘相关数据分析总结；</li>
                    <li>员工入职离职手续的办理；</li>
                    <li>协助组织员工关怀、企业文化活动等。</li>
                  </ol>
                  <div>【任职要求】</div>
                  <ol>
                    <li>本科及以上学历，人力资源、中文、语言类相关专业优先；</li>
                    <li>自律，做事认真细致，善于沟通，执行力强；</li>
                    <li>文笔好，有文案及活动策划经验的优先；</li>
                    <li>乐于接受挑战，想法多，脑洞大；</li>
                    <li>热爱互联网行业。</li>
                  </ol>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>

    </main>
    <footer class="footer-content">
      <ul class="footer-nav">
        <li class="footer-nav-icon">
          <img src='<%= require("./assets/footer-icon.svg") %>' id="footer-logo" width=160 height=32 />
        </li>
        <li class="footer-nav-list">
          <ul>
            <li class="footer-list-title">产品</li>
            <li>
              <a href="./product.html">产品介绍</a>
            </li>
            <li>
              <a href="./demo.html">预约演示</a>
            </li>
            <li>
              <a href="./price.html">价格</a>
            </li>
            <li>
              <a href="./service.html">服务支持</a>
            </li>
            <li>
              <a href="./about.html">关于我们</a>
            </li>
          </ul>
          <ul class="footer-industry">
            <li class="footer-list-title">行业Demo</li>
            <ul>
              <li>
                <a class="industry0">互联网行业</a>
              </li>
              <li>
                <a class="industry2">零售行业</a>
              </li>
              <li>
                <a class="industry4">企业服务行业</a>
              </li>
              <li>
                <a class="industry6">文娱行业</a>
              </li>
              <li>
                <a class="industry8">教育行业</a>
              </li>
            </ul>
            <ul>
              <li>
                <a class="industry1">金融行业</a>
              </li>
              <li>
                <a class="industry3">制造行业</a>
              </li>
              <li>
                <a class="industry5">电商行业</a>
              </li>
              <li>
                <a class="industry7">餐饮行业</a>
              </li>
              <li>
                <a class="industry9">物流行业</a>
              </li>
            </ul>
          </ul>
          <ul>
            <li class="footer-list-title">商务咨询</li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span>0411-39026089</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>bd@elephantbi.com</span>
            </li>
            <li>
              <img src='<%= require("./assets/address.svg") %>' width=12 height=15 />
              <span class="addressSpan">辽宁省大连市沙河口区软件园东路23号15#501AB室</span>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title">技术支持</li>
            <li>
              <img src='<%= require("./assets/footer-time.png") %>' width=14 height=14 />
              <span>09:00~19:00</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span>0411-39551681</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>support@elephantbi.com</span>
            </li>
          </ul>
        </li>
        <li class="footer-nav-sq">
          <img src='<%= require("./assets/customService.jpg") %>' width=140 height=140 />
          <span class="footer-nav-sq-description">微信扫码联系客服</span>
        </li>
      </ul>
      <div class="record">Copyright© 悦视光合科技(大连)有限公司&nbsp&nbsp&nbsp&nbsp辽ICP备18008272号</div>
    </footer>
  </div>
  <div class="tootip-modal" id="tootip-succeed">
    <div class="tootip-icon">
      <div class="tooptip-succeed">
        <img src='<%= require("./assets/tootip-succeed.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title">提交成功</div>
      <div class="tootip-description">ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err">
    <div class="tootip-icon">
      <div class="tooptip-err">
        <img src='<%= require("./assets/tootip-err.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title">提交失败</div>
      <div class="tootip-description">请电话联系：0411-39026089</div>
    </div>
  </div>
</body>

</html>