<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ElephantBI是企业大数据管理分析和商业智能平台。实时连接聚合企业所有数据，提供简单灵活的交互式可视化数据分析能力。ElephantBI是先进的敏捷BI，助您轻松将数据转化为深刻的商业见解，深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策，以数据推进企业数字化变革。">
  <meta name="mobile-agent" content="format=html5;url=https://m.elephantbi.com/demo.html">
  <link ref="alternate" media="only screen and (max-width: 640px)" href="https://m.elephantbi.com/demo.html">
  <title>ElephantBI - 预约演示</title>
  <link ref="canonical" href="https://www.elephantbi.com/demo.html">
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网";

    window.corpid = 'WX_CORP_ID';
    window.imageEnv = 'IMAGE_ENV';
    window.OAUTHURL = 'OAUTH_URL';
    window.DEMOURL = 'DEMO_URL'
  </script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?75b7f1fb8fed402af2a2479288b0722e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>

<body>
  <div id="root">
    <header id="nav-header">
      <nav class="nav-content">
        <ul class="nav-list">
          <li class="nav-section logo">
            <img src='<%= require("./assets/nav-logo.svg") %>' id="logo" width=160 height=32 />
          </li>
          <li class="nav-section page-list">
            <a href="./product.html">产品</a>
            <a href="javascript:void(0)" id="nav-industry-link">行业DEMO</a>
            <a class="selected" href="./demo.html">预约演示</a>
            <a href="./price.html">价格</a>
            <a href="./service.html">服务</a>
            <a href="./about.html">关于</a>
            <div class="nav-industry-modal" id="nav-industry-modal">
              <div class="nav-industry-arrow"></div>
              <ul>
                <li>
                  <a class="industry0">互联网行业</a>
                </li>
                <li>
                  <a class="industry2">零售行业</a>
                </li>
                <li>
                  <a class="industry4">企业服务行业</a>
                </li>
                <li>
                  <a class="industry6">文娱行业</a>
                </li>
                <li>
                  <a class="industry8">教育行业</a>
                </li>
              </ul>
              <div class="divider"></div>
              <ul>
                <li>
                  <a class="industry1">金融行业</a>
                </li>
                <li>
                  <a class="industry3">制造行业</a>
                </li>
                <li>
                  <a class="industry5">电商行业</a>
                </li>
                <li>
                  <a class="industry7">餐饮行业</a>
                </li>
                <li>
                  <a class="industry9">物流行业</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-section login">
            <span class="login-btn-content">
              <button id="nav-login">登录</button>
              <div class="login-modal" id="login-modal">
                <div class="modal-arrow"></div>
                <span class="login-block-wrapper">
                  <span class="login-block">
                    <input class="login-cell" id="input-hosts" type="text" placeholder="请输入团队域名">
                    <span class="login-cell login-fixed">elephantbi.com</span>
                  </span>
                </span>
                <button class="login-btn" id="login-product">登录</button>
              </div>
            </span>
            <a class="register-btn" href="./register.html" >免费注册</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <div class="main-wrapper">
        <div class="main-title">数据驱动，精准决策</div>
        <div class="main-description">填写右侧信息，我们将会尽快与您联系安排演示；您也可以直接致电0411-39026089联系我们</div>
        <div class="main-line"></div>
        <img src='<%= require("./assets/demobanner.svg") %>' class="demo-banner" width=390 height=245 />
        <div class="form-section">
          <div class="demo-title">我要预约免费演示</div>
          <div class="demo-description">为更好的制定针对性的数据方案，请让我们了解您更多，行业顾问将在24小时内与您取得联系</div>
          <form name="demoForm">
            <div class="demo-item">
              <span class="label">姓名</span>
              <div class="demo-form-item" data-err="请输入您的姓名">
                <input id="demo-name" name="demoName" placeholder="请输入您的姓名" />
              </div>
            </div>
            <div class="demo-item">
              <span class="label">工作邮箱</span>
              <div class="demo-form-item" data-err="请输入电子邮箱">
                <input id="demo-email" name="demoEmail" placeholder="请输入电子邮箱" />
              </div>
            </div>
            <div class="demo-item">
              <span class="label">电话</span>
              <div class="demo-form-item" data-err="请输入手机号">
                <input id="demo-mobile" name="demoMobile" placeholder="请输入手机号" />
              </div>
            </div>
            <div class="demo-item">
              <span class="label">公司名称</span>
              <div class="demo-form-item" data-err="请输入您所在的公司名称">
                <input id="demo-company" name="demoCompany" placeholder="请输入您所在的公司名称" />
              </div>
            </div>
            <div class="demo-item">
              <span class="label">所属行业</span>
              <div class="demo-form-item" data-err="请选择您所属行业">
                <input onfocus="this.blur()" class="eg" name="demoIndustry" placeholder="请选择您所属行业" id="demo-industry" />
                <div class="options">
                  <div value="互联网及IT行业">互联网及IT行业</div>
                  <div value="零售行业">零售行业</div>
                  <div value="企业服务行业">企业服务行业</div>
                  <div value="文娱行业">文娱行业</div>
                  <div value="教育行业">教育行业</div>
                  <div value="金融行业">金融行业</div>
                  <div value="制造行业">制造行业</div>
                  <div value="电商行业">电商行业</div>
                  <div value="餐饮行业">餐饮行业</div>
                  <div value="物流行业">物流行业</div>
                  <div value="旅游行业">旅游行业</div>
                  <div value="保险行业">保险行业</div>
                  <div value="农产品行业">农产品行业</div>
                  <div value="电气化工行业">电气化工行业</div>
                  <div value="科技研发行业">科技研发行业</div>
                  <div value="生活服务行业">生活服务行业</div>
                  <div value="其他行业">其他行业</div>
                </div>
              </div>
            </div>
            <div class="demo-item">
              <span class="label">行业规模</span>
              <div class="demo-form-item" data-err="请选择您所在的行业规模">
                <input onfocus="this.blur()" class="eg" name="demoScale" placeholder="请选择您所属行业" id="demo-scale" />
                <div class="options">
                  <div value="1-15人">1-15人</div>
                  <div value="16-50人">16-50人</div>
                  <div value="51-200人">51-200人</div>
                  <div value="201-500人">201-500人</div>
                  <div value="501-2000人">501-2000人</div>
                  <div value="2001-5000人">2001-5000人</div>
                  <div value="5001及以上">5001及以上</div>
                </div>
              </div>
            </div>
            <div class="demo-item">
              <span class="label">所属部门</span>
              <div class="demo-form-item">
                <input onfocus="this.blur()" class="eg" name="demoDepart" placeholder="请选择您所属行业" />
                <div class="options">
                  <div value="人事部">人事部</div>
                  <div value="财务部">财务部</div>
                  <div value="行政部">行政部</div>
                  <div value="销售部">销售部</div>
                  <div value="技术部">技术部</div>
                  <div value="市场部">市场部</div>
                  <div value="运营部">运营部</div>
                  <div value="产品部">产品部</div>
                  <div value="其他部门">其他部门</div>
                </div>
              </div>
            </div>
            <div class="demo-item">
              <span class="label">现任职位</span>
              <div class="demo-form-item">
                <input id="position" name="demoPosi" placeholder="请输入您的现任职位" />
              </div>
            </div>
            <div class="demo-item">
              <div class="demo-form-item">
                <textarea name="demoRemark" placeholder="请描述您希望在演示中了解的内容或问题"></textarea>
              </div>
            </div>
          </form>
          <button id="demo-submit">
            立即预约
          </button>
        </div>
      </div>
  </div>
  </main>
  <footer class="footer-content">
    <ul class="footer-nav">
      <li class="footer-nav-icon">
        <img src='<%= require("./assets/footer-icon.svg") %>' id="footer-logo" width=160 height=32 />
      </li>
      <li class="footer-nav-list">
        <ul>
          <li class="footer-list-title">产品</li>
          <li>
            <a href="./product.html">产品介绍</a>
          </li>
          <li>
            <a href="./demo.html">预约演示</a>
          </li>
          <li>
            <a href="./price.html">价格</a>
          </li>
          <li>
            <a href="./service.html">服务支持</a>
          </li>
          <li>
            <a href="./about.html">关于我们</a>
          </li>
        </ul>
        <ul class="footer-industry">
          <li class="footer-list-title">行业Demo</li>
          <ul>
            <li>
              <a class="industry0">互联网行业</a>
            </li>
            <li>
              <a class="industry2">零售行业</a>
            </li>
            <li>
              <a class="industry4">企业服务行业</a>
            </li>
            <li>
              <a class="industry6">文娱行业</a>
            </li>
            <li>
              <a class="industry8">教育行业</a>
            </li>
          </ul>
          <ul>
            <li>
              <a class="industry1">金融行业</a>
            </li>
            <li>
              <a class="industry3">制造行业</a>
            </li>
            <li>
              <a class="industry5">电商行业</a>
            </li>
            <li>
              <a class="industry7">餐饮行业</a>
            </li>
            <li>
              <a class="industry9">物流行业</a>
            </li>
          </ul>
        </ul>
        <ul>
          <li class="footer-list-title">商务咨询</li>
          <li>
            <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
            <span>0411-39026089</span>
          </li>
          <li>
            <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
            <span>bd@elephantbi.com</span>
          </li>
          <li>
            <img src='<%= require("./assets/address.svg") %>' width=12 height=15 />
            <span class="addressSpan">辽宁省大连市沙河口区软件园东路23号15#501AB室</span>
          </li>
        </ul>
        <ul>
          <li class="footer-list-title">技术支持</li>
          <li>
            <img src='<%= require("./assets/footer-time.png") %>' width=14 height=14 />
            <span>09:00~19:00</span>
          </li>
          <li>
            <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
            <span>18004083463</span>
          </li>
          <li>
            <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
            <span>support@elephantbi.com</span>
          </li>
        </ul>
      </li>
      <li class="footer-nav-sq">
        <img src='<%= require("./assets/footer-sq.svg") %>' width=140 height=140 />
        <span class="footer-nav-sq-description">关注 ElephantBI</span>
      </li>
    </ul>
    <div class="record">Copyright© 悦视光合科技(大连)有限公司&nbsp&nbsp&nbsp&nbsp辽ICP备18008272号</div>
  </footer>
  </div>
  <div class="tootip-modal" id="tootip-succeed">
    <div class="tootip-icon">
      <div class="tooptip-succeed">
        <img src='<%= require("./assets/tootip-succeed.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title">提交成功</div>
      <div class="tootip-description">ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err">
    <div class="tootip-icon">
      <div class="tooptip-err">
        <img src='<%= require("./assets/tootip-err.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title">提交失败</div>
      <div class="tootip-description">请电话联系：0411-39026089</div>
    </div>
  </div>
</body>

</html>
