<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ElephantBI是企业大数据管理分析和商业智能平台。实时连接聚合企业所有数据，提供简单灵活的交互式可视化数据分析能力。ElephantBI是先进的敏捷BI，助您轻松将数据转化为深刻的商业见解，深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策，以数据推进企业数字化变革。">
  <meta name="mobile-agent" content="format=html5;url=https://m.elephantbi.com">
  <link ref="alternate" media="only screen and (max-width: 640px)" href="https://m.elephantbi.com">
  <title>ElephantBI - 企业大数据管理分析和商业智能平台</title>
  <link ref="canonical" href="https://www.elephantbi.com">
  <link href="https://vjs.zencdn.net/7.2/video-js.min.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.2/video.min.js"></script>
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网";
    window.DEMOURL = 'DEMO_URL';
    window.xyDataTechUrl = 'https://www.xydatatech.com'
  </script>
  <script>
    if (window.host === 'https://www.elephantbi.com') {
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?75b7f1fb8fed402af2a2479288b0722e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    }
  </script>

</head>

<body>
  <div id="root">
    <header id="nav-header">
      <img alt="大数据管理分析商业智能BI平台-首页" src='<%= require("./assets/site-img.jpg") %>' class="site-img" />
      <nav class="nav-content">
        <ul class="nav-list">
          <li class="nav-section logo">
            <a href="./index.html">
              <img src='<%= require("./assets/nav-logo.svg") %>' id="logo" width=160 height=32 />
            </a>
          </li>
          <li class="nav-section page-list" data-locale-style>
            <a href="./index.html" data-locale-id="nav-product">产品</a>
            <a href="javascript:void(0)" id="nav-industry-link" data-locale-id="nav-demo">行业DEMO</a>
            <a href="./demo.html" data-locale-id="nav-trial">免费试用</a>
            <a href="./price.html" data-locale-id="nav-price">价格</a>
            <a href="./service.html" data-locale-id="nav-service">服务支持</a>
            <a href="javascript:void(0)" data-locale-id="nav-custom" class="jumpToXYDataTech">需求定制</a>
            <div class="nav-industry-modal" id="nav-industry-modal">
              <div class="nav-industry-arrow"></div>
              <ul>
                <li>
                  <a class="industry0" data-locale-id="internet-industry">互联网行业</a>
                </li>
                <li>
                  <a class="industry2" data-locale-id="retail-industry">零售行业</a>
                </li>
                <li>
                  <a class="industry4" data-locale-id="enterprise-service-industry">企业服务行业</a>
                </li>
                <li>
                  <a class="industry6" data-locale-id="entertainment-industry">文娱行业</a>
                </li>
                <li>
                  <a class="industry8" data-locale-id="education-industry">教育行业</a>
                </li>
              </ul>
              <div class="divider"></div>
              <ul>
                <li>
                  <a class="industry1" data-locale-id="financial-industry">金融行业</a>
                </li>
                <li>
                  <a class="industry3" data-locale-id="manufacture-industry">制造行业</a>
                </li>
                <li>
                  <a class="industry5" data-locale-id="e-commerce-industry">电商行业</a>
                </li>
                <li>
                  <a class="industry7" data-locale-id="catering-industry">餐饮行业</a>
                </li>
                <li>
                  <a class="industry9" data-locale-id="logistics-industry">物流行业</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-section login">
            <span class="login-btn-content">
              <span class="nav-locale">
                <button class="nav-locale-btn" id="nav-locale-btn">English</button>
                <div class="nav-locale-modal" id="nav-locale-modal">
                  <div class="locale-item" data-locale="zh-cn">
                    <span data-locale="zh-cn">简体中文</span>
                    <img data-locale="zh-cn" class="locale-check" id="zh-cn-check" src='<%= require("./assets/check3.svg") %>' />
                  </div>
                  <div class="locale-item" data-locale="zh-tw">
                    <span data-locale="zh-tw">繁體中文</span>
                    <img data-locale="zh-tw" class="locale-check" id="zh-tw-check" src='<%= require("./assets/check3.svg") %>' />
                  </div>
                  <div class="locale-item" data-locale="en-US">
                    <span data-locale="en-US">English</span>
                    <img data-locale="en-US" class="locale-check" id="en-US-check" src='<%= require("./assets/check3.svg") %>' />
                  </div>
                </div>
              </span>
              <button id="nav-login" data-locale-id="sign-in">登录</button>
              <div class="login-modal" id="login-modal">
                <div class="modal-arrow"></div>
                <span class="login-block-wrapper" data-err="输入的域名不存在，请重新检查。如果您还没有注册请前往免费注册" data-locale-id="login-err">
                  <span class="login-block">
                    <input class="login-cell" id="input-hosts" type="text" placeholder="请输入团队域名" data-locale-id="login-placeholder">
                    <span id="login-fixed" class="login-cell login-fixed">elephantbi.com</span>
                  </span>
                </span>
                <button class="login-btn" id="login-product" data-locale-id="sign-in">登录</button>
              </div>
            </span>
            <a class="register-btn" href="./demo.html" data-locale-id="nav-trial">免费试用</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <div class="gray-bg-1"></div>
      <div class="gray-bg-2"></div>
      <div class="gray-bg-3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="quick-entry">
        <div class="quick-entry-item">
          <img alt="" class="quick-entry-phone" src='<%= require("./assets/quickEntryPhone.svg") %>' />
          <div data-locale-id="consultation" class="quick-entry-item-text">电话咨询</div>
          <div class="quick-entry-phone-tootip quick-entry-tootip">
            <img alt="" class="quick-entry-tootip-phone" src='<%= require("./assets/quickEntryTootipPhone.svg") %>' />
            <span class="quick-entry-tootip-info">
              <div data-locale-id="consultation-phone-number">0411-39026089</div>
              <div data-locale-id="work-time">工作日 09：00-19：00</div>
            </span>
            <div class="tootip-arrow"></div>
          </div>
        </div>
        <div class="quick-entry-item">
          <img alt="" class="quick-entry-wechat" src='<%= require("./assets/quickEntryWechat.svg") %>' />
          <div data-locale-id="wechat-custom-service" class="quick-entry-item-text">微信客服</div>
          <div class="quick-entry-wechat-tootip quick-entry-tootip">
            <img alt="" class="quick-entry-tootip-wechat" src='<%= require("./assets/customService.jpg") %>' />
            <div class="footer-nav-sq-description" data-locale-id="scan-code">微信扫码联系客服</div>
            <div class="tootip-arrow"></div>
          </div>
        </div>
        <div class="quick-entry-item">
          <img alt="" class="quick-entry-email" src='<%= require("./assets/quickEntryEmail.svg") %>' />
          <div data-locale-id="send-email" class="quick-entry-item-text">发送邮件</div>
          <div class="quick-entry-email-tootip quick-entry-tootip">
            <img alt="" class="quick-entry-tootip-email" src='<%= require("./assets/quickEntryTootipEmail.svg") %>' />
            <span class="quick-entry-tootip-info">
              <div>bd@elephantbi.com</div>
              <div data-locale-id="reply-within-24-hours">我们会在24小时内给您回复</div>
            </span>
            <div class="tootip-arrow"></div>
          </div>
        </div>
        <a class="quick-entry-item" href="./demo.html">
          <img alt="" class="quick-entry-trail" src='<%= require("./assets/quickEntryTrail.svg") %>' />
          <div data-locale-id="nav-trial" class="quick-entry-item-text">免费试用</div>
        </a>
      </div>
      <header class="main-header">
        <img alt="" class="main-banner-1" src='<%= require("./assets/main-banner1.svg") %>' />
        <img alt="" class="main-banner-2" src='<%= require("./assets/main-banner2.svg") %>' />
        <div class="main-cover">
          <h2 class="sub-title" data-locale-id="home-banner-title">数据驱动，精准决策</h2>
          <div class="description">
            <div data-locale-id="home-banner-description-1">ElephantBI 是企业大数据管理分析和商业智能平台</div>
            <div data-locale-id="home-banner-description-2">实时连接聚合企业所有数据，简单灵活的交互式可视化数据分析</div>
            <div data-locale-id="home-banner-description-3">先进的敏捷BI模式，深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策</div>
          </div>
          <img class="play-btn" id="play-btn" alt="" src='<%= require("./assets/play.svg") %>' />
          <div>
            <a class="free-btn" href="./demo.html" data-locale-id="nav-trial">免费试用</a>
            <a class="reserve-btn" href="./service.html#contactUs" data-locale-id="contact-us">联系我们</a>
          </div>
        </div>
      </header>
      <section class="show-box">
        <div class="box-item left">
          <div class="box-title-wrapper">
            <img class="box-title box-title-img" src='<%= require("./assets/box-left-icon1.png") %>' width=57 height=57 />
            <div class="box-title-content box-title">
              <div class="box-title-name" data-locale-id="big-data-storage">大数据存储管理中心</div>
              <p data-locale-id="big-data-storage-en">Integrating all your data</p>
            </div>
          </div>
          <ul class="box-list">
            <li data-locale-id="big-data-storage-description-1">数据库一键连接，支持MySQL、PostgreSQL、Microsoft SQL、Oracle等</li>
            <li data-locale-id="big-data-storage-description-2">云端服务器数据、内部服务器数据，均可集中管理</li>
            <li data-locale-id="big-data-storage-description-3">本地Excel/Csv文件数据可轻松上传、更新、追加</li>
            <li data-locale-id="big-data-storage-description-4">无需技术支持，业务人员更方便的查看、筛选、导出数据</li>
            <li data-locale-id="big-data-storage-description-5">强大的数据管理功能，更可设定数据库数据同步方式及周期等</li>
          </ul>
        </div>
        <div class="box-item right">
          <img width=314 height=374 src='<%= require("./assets/index-box-1@2x.png") %>' />
        </div>
      </section>
      <section class="show-box">
        <div class="box-item left">
          <img width=298 height=273 src='<%= require("./assets/index-box-2.svg") %>' />
        </div>
        <div class="box-item right">
          <div class="box-right-content">
            <div class="box-title-wrapper">
              <img class="box-title box-title-img" src='<%= require("./assets/box-right-icon1.png") %>' width=57 height=57 />
              <div class="box-title-content box-title">
                <div class="box-title-name" data-locale-id="visualized-data-analysis">可视化拖拽分析</div>
                <p data-locale-id="visualized-data-analysis-en">Let Your Data Tell Stories</p>
              </div>
            </div>
            <ul class="box-list">
              <li data-locale-id="visualized-data-analysis-description-1">简单拖拽，数据图表瞬间生成</li>
              <li data-locale-id="visualized-data-analysis-description-2">图表类型丰富，几十种随意挑选</li>
              <li data-locale-id="visualized-data-analysis-description-3">自由布局，图文混排，数据动向清晰明了</li>
              <li data-locale-id="visualized-data-analysis-description-4">图表联动，数据不再静止，让数据说话</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="show-box">
        <div class="box-item left">
          <div class="box-title-wrapper">
            <img class="box-title box-title-img" src='<%= require("./assets/box-left-icon2.png") %>' width=57 height=57 />
            <div class="box-title-content box-title">
              <div class="box-title-name" data-locale-id="team-cooperation">团队协作</div>
              <p data-locale-id="team-cooperation-en">Team Collaboration</p>
            </div>
          </div>
          <ul class="box-list">
            <li data-locale-id="team-cooperation-description-1">多种类，多终端的交互式图表和仪表盘，帮助决策者从容讲述数据背后的线索</li>
            <li data-locale-id="team-cooperation-description-2">深度集成即时沟通工具，帮助全员围绕商业数据分享协作，让数据驱动沟通融入日常工作的方方面面</li>
            <li data-locale-id="team-cooperation-description-3">以数据连接全体成员，打破团队成员见的信息隔阂。帮助团队时刻了解业务关键指标，保持清晰的业务共识</li>
          </ul>
        </div>
        <div class="box-item right" height=269>
          <img width=335 height=221 src='<%= require("./assets/index-box-3.svg") %>' />
        </div>
      </section>
      <section class="show-box">
        <div class="box-item left">
          <img width=374 height=229 src='<%= require("./assets/index-box-4@2x.png") %>' />
        </div>
        <div class="box-item right">
          <div class="box-right-content">
            <div class="box-title-wrapper">
              <img class="box-title box-title-img" src='<%= require("./assets/box-right-icon2.png") %>' width=57 height=57 />
              <div class="box-title-content box-title">
                <div class="box-title-name" data-locale-id="privilege-management">精细化权限管理</div>
                <p data-locale-id="privilege-management-en">Permissions Management</p>
              </div>
            </div>
            <ul class="box-list">
              <li data-locale-id="privilege-management-description-1">灵活严谨的用户和角色体系，快速准确的赋予数据权限，兼具效率与安全</li>
              <li data-locale-id="privilege-management-description-2">提供行列粒度的数据权限控制，确保每一行每一列数据的访问都尽在控制</li>
            </ul>
          </div>
        </div>
      </section>
      <a href="#demo" name="demo" id="demo"></a>
      <section class="industry-section">
        <div class="industry-main-title" data-locale-id="select-demo">请选择下方要体验的行业Demo</div>
        <ul class="industry-list" data-locale-style>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry1.svg") %>' />
            <div class="industry-title" data-locale-id="internet-industry">互联网行业</div>
            <div class="industry-description" data-locale-id="internet-demo-description">
              实时跟踪访客数，流量走势，竞争对手策略趋势等关键业务指标，掌握最新产品动向，辅助决策和调整产品方向
            </div>
            <button class="industry-operator industry0" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=34 src='<%= require("./assets/industry2.svg") %>' />
            <div class="industry-title" data-locale-id="retail-industry">零售行业</div>
            <div class="industry-description" data-locale-id="retail-demo-description">
              从精细化管理的角度，利用数据分析，帮助零售企业给出数据解决方案，提高零售转化率同时降低退货率
            </div>
            <button class="industry-operator industry2" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=27 src='<%= require("./assets/industry3.svg") %>' />
            <div class="industry-title" data-locale-id="enterprise-service-industry">企业服务行业</div>
            <div class="industry-description" data-locale-id="enterprise-service-demo-description">
              了解客户差异化需求，提供更专业的服务，降低获客成本，提高客户活跃度和留存度，增加客户黏性，提高续约率
            </div>
            <button class="industry-operator industry4" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry4.svg") %>' />
            <div class="industry-title" data-locale-id="entertainment-industry">文娱行业</div>
            <div class="industry-description" data-locale-id="entertainment-demo-description">
              时刻保持最新状态，对即将发生的事件进行趋势预测，让数据变得可靠实用，数据指导精准营销活动
            </div>
            <button class="industry-operator industry6" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=35 height=32.2 src='<%= require("./assets/industry5.svg") %>' />
            <div class="industry-title" data-locale-id="education-industry">教育行业</div>
            <div class="industry-description" data-locale-id="education-demo-description">
              从重复琐碎工作中解放大脑，指导根据创新的教学方法，提供用户分组、漏斗分析等，跟踪学生动态，提出具有针对性的提升方案
            </div>
            <button class="industry-operator industry8" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry6.svg") %>' />
            <div class="industry-title" data-locale-id="financial-industry">金融行业</div>
            <div class="industry-description" data-locale-id="financial-demo-description">
              以精细化运营的姿态面对行业变化，依靠数据为客户提供精准保险服务，降低获客成本，提高用户留存和增购
            </div>
            <button class="industry-operator industry1" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=29.4 src='<%= require("./assets/industry7.svg") %>' />
            <div class="industry-title" data-locale-id="manufacture-industry">制造行业</div>
            <div class="industry-description" data-locale-id="manufacture-demo-description">
              整合多业务系统和大型ERP数据互通，合理分配资源降低生产成本，优化生产线管理提升产品质量
            </div>
            <button class="industry-operator industry3" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=33 height=25.8 src='<%= require("./assets/industry8.svg") %>' />
            <div class="industry-title" data-locale-id="e-commerce-industry">电商行业</div>
            <div class="industry-description" data-locale-id="e-commerce-demo-description">
              多业务系统的数据整合，打破信息孤岛，高效的客户管理及供应商合作管理，差异化线上和线下运营，帮助电商客户科学决策
            </div>
            <button class="industry-operator industry5" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry9.svg") %>' />
            <div class="industry-title" data-locale-id="catering-industry">餐饮行业</div>
            <div class="industry-description" data-locale-id="catering-demo-description">
              实现繁杂数据整合，提高顾客就餐率，及时调整营销策略，提供数据驱动的解决方案，轻松提高客户的满意度
            </div>
            <button class="industry-operator industry7" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=32 height=26.8 src='<%= require("./assets/industry10.svg") %>' />
            <div class="industry-title" data-locale-id="logistics-industry">物流行业</div>
            <div class="industry-description" data-locale-id="logistics-demo-description">
              轻松了解追踪客户行为，打通业务系统，科学调度车辆，提高订单完成率、准时率，提高物流效率，保证客户满意度
            </div>
            <button class="industry-operator industry9" data-locale-id="experience-demo">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry11.svg") %>' />
            <div class="industry-title" data-locale-id="other-industry">其他行业</div>
            <div class="industry-description" data-locale-id="other-demo-description">
              旅游业，保险业，农产品，电气化工，高新科技，生活服务等更多行业，联系我们，专业行业顾问将为您定制行业方案
            </div>
            <a class="industry-operator demo-btn" href="./service.html#contactUs" data-locale-id="contact-us">联系我们</a>
          </li>
        </ul>
      </section>
      <section class="register-section">
        <div class="register-section-title" data-locale-id="home-bottom-banner-title">数据驱动，精准决策，即刻启程</div>
        <div class="register-section-subTitle" data-locale-id="home-bottom-banner-description">ElephantBI专注数据价值，让数据真正服务于工作，现在开始免费试用</div>
        <a class="register-section-button free-btn" href="./demo.html" data-locale-id="nav-trial">免费试用</a>
      </section>
    </main>
    <footer class="footer-content" data-locale-style>
      <ul class="footer-nav">
        <li class="footer-nav-icon">
          <a href="./index.html">
            <img src='<%= require("./assets/footer-icon.svg") %>' id="footer-logo" width=160 height=32 />
          </a>
        </li>
        <li class="footer-nav-list">
          <ul>
            <li class="footer-list-title" data-locale-id="nav-product">产品</li>
            <li>
              <a href="./index.html" data-locale-id="nav-product">产品介绍</a>
            </li>
            <li>
              <a href="./demo.html" data-locale-id="nav-trial">免费试用</a>
            </li>
            <li>
              <a href="./price.html" data-locale-id="nav-price">价格</a>
            </li>
            <li>
              <a href="./service.html" data-locale-id="nav-service">服务支持</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-locale-id="nav-custom" class="jumpToXYDataTech">需求定制</a>
            </li>
          </ul>
          <ul class="footer-industry">
            <li class="footer-list-title" data-locale-id="nav-demo">行业Demo</li>
            <ul>
              <li>
                <a class="industry0" data-locale-id="internet-industry">互联网行业</a>
              </li>
              <li>
                <a class="industry2" data-locale-id="retail-industry">零售行业</a>
              </li>
              <li>
                <a class="industry4" data-locale-id="enterprise-service-industry">企业服务行业</a>
              </li>
              <li>
                <a class="industry6" data-locale-id="entertainment-industry">文娱行业</a>
              </li>
              <li>
                <a class="industry8" data-locale-id="education-industry">教育行业</a>
              </li>
            </ul>
            <ul>
              <li>
                <a class="industry1" data-locale-id="financial-industry">金融行业</a>
              </li>
              <li>
                <a class="industry3" data-locale-id="manufacture-industry">制造行业</a>
              </li>
              <li>
                <a class="industry5" data-locale-id="e-commerce-industry">电商行业</a>
              </li>
              <li>
                <a class="industry7" data-locale-id="catering-industry">餐饮行业</a>
              </li>
              <li>
                <a class="industry9" data-locale-id="logistics-industry">物流行业</a>
              </li>
            </ul>
          </ul>
          <ul>
            <li class="footer-list-title" data-locale-id="business-consulting">商务咨询</li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span data-locale-id="consultation-phone-number">0411-39026089</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>bd@elephantbi.com</span>
            </li>
            <li>
              <img src='<%= require("./assets/address.svg") %>' width=12 height=15 />
              <span data-locale-id="shenzhen-address">深圳市南山区卫星大厦15层</span>
            </li>
            <li>
              <img src='<%= require("./assets/address.svg") %>' width=12 height=15 />
              <span data-locale-id="dalian-address">大连市软件园15号楼5层</span>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title" data-locale-id="technical-support">技术支持</li>
            <li>
              <img src='<%= require("./assets/footer-time.png") %>' width=14 height=14 />
              <span>09:00~19:00</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span data-locale-id="technical-phone-number">0411-39551681</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>support@elephantbi.com</span>
            </li>
          </ul>
        </li>
        <li class="footer-nav-sq">
          <img src='<%= require("./assets/customService.jpg") %>' width=140 height=140 />
          <span class="footer-nav-sq-description" data-locale-id="scan-code">微信扫码联系客服</span>
        </li>
      </ul>
      <div class="record" data-locale-id="copyright">Copyright© 悦视光合科技(大连)有限公司&nbsp&nbsp&nbsp&nbsp辽ICP备18008272号</div>
    </footer>
  </div>
  <div class="modal-cover" id="modal-cover"></div>
  <div class="video-cover" id="video-cover"></div>
  <div class="official-video" id="official-video">
    <div class="video-mask" id="video-mask">
      <img alt="" src='<%= require("./assets/replay.svg") %>' id="video-replay" class="video-replay" />
      <div class="replay-text">重新播放</div>
      <div class="actions">
        <a id="video-register-btn" class="free-btn" href="./register.html" data-locale-id="nav-trial">免费试用</a>
        <a id="video-demo-btn" onclick="_hmt.push(['_trackEvent', 'demo'])" class="reserve-btn" href="./service.html#contactUs"
          data-locale-id="contact-us">联系我们</a>
      </div>
      <div class="custom-service-sq">
        <img alt="" src='<%= require("./assets/customService.jpg") %>' width=80 height=80 class="custom-service" />
        扫描二维码联系客服
      </div>
    </div>
    <video id="video-player" class="video-js" controls preload="auto" data-setup='{}'>
      <source src="VIDEO_URL" type="video/mp4">
    </video>
    <img alt="" src='<%= require("./assets/close-video.svg") %>' class="close-video" id="close-video" />
  </div>

  <div class="tootip-modal" id="tootip-succeed">
    <div class="tootip-icon">
      <div class="tooptip-succeed">
        <img src='<%= require("./assets/tootip-succeed.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title" data-locale-id="submit-success">提交成功</div>
      <div class="tootip-description" data-locale-id="get-in-touch">ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err">
    <div class="tootip-icon">
      <div class="tooptip-err">
        <img src='<%= require("./assets/tootip-err.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title" data-locale-id="submit-failed">提交失败</div>
      <div class="tootip-description" data-locale-id="submit-fail-describe">请电话联系：0411-39026089</div>
    </div>
  </div>
</body>

</html>