<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ElephantBI是企业大数据管理分析和商业智能平台。实时连接聚合企业所有数据，提供简单灵活的交互式可视化数据分析能力。ElephantBI是先进的敏捷BI，助您轻松将数据转化为深刻的商业见解，深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策，以数据推进企业数字化变革。">
  <meta name="mobile-agent" content="format=html5;url=https://m.elephantbi.com">
  <link ref="alternate" media="only screen and (max-width: 640px)" href="https://m.elephantbi.com">
  <title>ElephantBI - 企业大数据管理分析和商业智能平台</title>
  <link ref="canonical" href="https://www.elephantbi.com">
  <link href="https://vjs.zencdn.net/7.2/video-js.min.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.2/video.min.js"></script>
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网";

    window.corpid = 'WX_CORP_ID';
    window.imageEnv = 'IMAGE_ENV';
    window.OAUTHURL = 'OAUTH_URL';
    window.DEMOURL = 'DEMO_URL'
  </script>
  <script>
    if (window.host === 'https://www.elephantbi.com') {
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?75b7f1fb8fed402af2a2479288b0722e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    }
  </script>

</head>

<body>
  <div id="root">
    <header id="nav-header">
      <nav class="nav-content">
        <ul class="nav-list">
          <li class="nav-section logo">
            <img src='<%= require("./assets/nav-logo.svg") %>' id="logo" width=160 height=32 />
          </li>
          <li class="nav-section page-list">
            <a href="./product.html">产品</a>
            <a href="javascript:void(0)" id="nav-industry-link">行业DEMO</a>
            <a href="./demo.html">预约演示</a>
            <a href="./price.html">价格</a>
            <a href="./service.html">服务</a>
            <a href="./about.html">关于</a>
            <div class="nav-industry-modal" id="nav-industry-modal">
              <div class="nav-industry-arrow"></div>
              <ul>
                <li>
                  <a class="industry0">互联网行业</a>
                </li>
                <li>
                  <a class="industry2">零售行业</a>
                </li>
                <li>
                  <a class="industry4">企业服务行业</a>
                </li>
                <li>
                  <a class="industry6">文娱行业</a>
                </li>
                <li>
                  <a class="industry8">教育行业</a>
                </li>
              </ul>
              <div class="divider"></div>
              <ul>
                <li>
                  <a class="industry1">金融行业</a>
                </li>
                <li>
                  <a class="industry3">制造行业</a>
                </li>
                <li>
                  <a class="industry5">电商行业</a>
                </li>
                <li>
                  <a class="industry7">餐饮行业</a>
                </li>
                <li>
                  <a class="industry9">物流行业</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-section login">
            <span class="login-btn-content">
              <button id="nav-login">登录</button>
              <div class="login-modal" id="login-modal">
                <div class="modal-arrow"></div>
                <span class="login-block-wrapper">
                  <span class="login-block">
                    <input class="login-cell" id="input-hosts" type="text" placeholder="请输入团队域名">
                    <span id="login-fixed" class="login-cell login-fixed">elephantbi.com</span>
                  </span>
                </span>
                <button class="login-btn" id="login-product">登录</button>
              </div>
            </span>
            <a class="register-btn" href="./register.html">免费注册</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <div class="gray-bg-1"></div>
      <div class="gray-bg-2"></div>
      <div class="gray-bg-3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <header class="main-header">
        <img alt="" class="main-banner-1" src='<%= require("./assets/main-banner1.svg") %>' />
        <img alt="" class="main-banner-2" src='<%= require("./assets/main-banner2.svg") %>' />
        <div class="main-cover">
          <h2 class="sub-title">数据驱动，精准决策</h2>
          <div class="description">
            <div>ElephantBI 是企业大数据管理分析和商业智能平台</div>
            <div>实时连接聚合企业所有数据，简单灵活的交互式可视化数据分析</div>
            <div>ElephantBI是先进的敏捷BI，助您深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策</div>
          </div>
          <img class="play-btn" id="play-btn" alt="" src='<%= require("./assets/play.svg") %>' />
          <div>
            <a class="free-btn" href="./register.html">免费注册</a>
            <a class="reserve-btn" href="./demo.html">预约演示</a>
          </div>
        </div>
      </header>
      <section class="show-box">
        <div class="box-item left">
          <img class="box-title box-title-img" src='<%= require("./assets/box-left-icon1.png") %>' width=57 height=57 />
          <div class="box-title">
            <div class="box-title-name">大数据存储管理中心</div>
            <p>Integrating All Data</p>
          </div>
          <ul class="box-list">
            <li>数据库一键连接，支持MySQL、PostgreSQL、Microsoft SQL、Oracle等</li>
            <li>云端服务器数据、内部服务器数据，均可集中管理</li>
            <li>本地Excel/Csv文件数据可轻松上传、更新、追加</li>
            <li>无需技术支持，业务人员更方便的查看、筛选、导出数据</li>
            <li>强大的数据管理功能，更可设定数据库数据同步方式及周期等</li>
          </ul>
        </div>
        <div class="box-item right">
          <img width=314 height=374 src='<%= require("./assets/index-box-1.svg") %>' />
        </div>
      </section>
      <section class="show-box">
        <div class="box-item left">
          <img width=298 height=273 src='<%= require("./assets/index-box-2.svg") %>' />
        </div>
        <div class="box-item right">
          <div class="box-right-content">
            <img class="box-title box-title-img" src='<%= require("./assets/box-right-icon1.png") %>' width=57 height=57 />
            <div class="box-title">
              <div class="box-title-name">可视化拖拽分析</div>
              <p>Visualized drag and drop data analysis</p>
            </div>
            <ul class="box-list">
              <li>简单拖拽，数据图表瞬间生成</li>
              <li>图表类型丰富，几十种随意挑选</li>
              <li>自由布局，图文混排，数据动向清晰明了</li>
              <li>图表联动，数据不再静止，让数据说话</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="show-box">
        <div class="box-item left">
          <img class="box-title box-title-img" src='<%= require("./assets/box-left-icon2.png") %>' width=57 height=57 />
          <div class="box-title">
            <div class="box-title-name">团队协作</div>
            <p>Integrating All Data</p>
          </div>
          <ul class="box-list">
            <li>多种类，多终端的交互式图表和仪表盘，帮助决策者从容讲述数据背后的线索</li>
            <li>深度集成即时沟通工具，帮助全员围绕商业数据分享协作，让数据驱动沟通融入日常工作的方方面面</li>
            <li>以数据连接全体成员，打破团队成员见的信息隔阂。帮助团队时刻了解业务关键指标，保持清晰的业务共识</li>
          </ul>
        </div>
        <div class="box-item right" height=269>
          <img width=335 height=221 src='<%= require("./assets/index-box-3.svg") %>' />
        </div>
      </section>
      <section class="show-box">
        <div class="box-item left">
          <img width=374 height=229 src='<%= require("./assets/index-box-4.svg") %>' />
        </div>
        <div class="box-item right">
          <div class="box-right-content">
            <img class="box-title box-title-img" src='<%= require("./assets/box-right-icon2.png") %>' width=57 height=57 />
            <div class="box-title">
              <div class="box-title-name">精细化权限管理</div>
              <p>Integrating All Data</p>
            </div>
            <ul class="box-list">
              <li>灵活严谨的用户和角色体系，快速准确的赋予数据权限，兼具效率与安全</li>
              <li>提供行列粒度的数据权限控制，确保每一行每一列数据的访问都尽在控制</li>
            </ul>
          </div>
        </div>
      </section>
      <a href="#demo" name="demo" id="demo" ></a>
      <section class="industry-section">
        <div class="industry-main-title">请选择下方要体验的行业Demo</div>
        <ul class="industry-list">
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry1.svg") %>' />
            <div class="industry-title">互联网行业</div>
            <div class="industry-description">
              实时跟踪访客数，流量走势，竞争对手策略趋势等关键业务指标，掌握最新产品动向，辅助决策和调整产品方向
            </div>
            <button class="industry-operator industry0">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=34 src='<%= require("./assets/industry2.svg") %>' />
            <div class="industry-title">零售行业</div>
            <div class="industry-description">
              从精细化管理的角度，利用数据分析，帮助零售企业给出数据解决方案，提高零售转化率同时降低退货率
            </div>
            <button class="industry-operator industry2">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=27 src='<%= require("./assets/industry3.svg") %>' />
            <div class="industry-title">企业服务行业</div>
            <div class="industry-description">
              了解客户差异化需求，提供更专业的服务，降低获客成本，提高客户活跃度和留存度，增加客户黏性，提高续约率
            </div>
            <button class="industry-operator industry4">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry4.svg") %>' />
            <div class="industry-title">文娱行业</div>
            <div class="industry-description">
              时刻保持最新状态，对即将发生的事件进行趋势预测，让数据变得可靠实用，数据指导精准营销活动
            </div>
            <button class="industry-operator industry6">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=35 height=32.2 src='<%= require("./assets/industry5.svg") %>' />
            <div class="industry-title">教育行业</div>
            <div class="industry-description">
              从重复琐碎工作中解放大脑，指导根据创新的教学方法，提供用户分组、漏斗分析等，跟踪学生动态，提出具有针对性的提升方案
            </div>
            <button class="industry-operator industry8">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry6.svg") %>' />
            <div class="industry-title">金融行业</div>
            <div class="industry-description">
              以精细化运营的姿态面对行业变化，依靠数据为客户提供精准保险服务，降低获客成本，提高用户留存和增购
            </div>
            <button class="industry-operator industry1">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=29.4 src='<%= require("./assets/industry7.svg") %>' />
            <div class="industry-title">制造行业</div>
            <div class="industry-description">
              整合多业务系统和大型ERP数据互通，合理分配资源降低生产成本，优化生产线管理提升产品质量
            </div>
            <button class="industry-operator industry3">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=33 height=25.8 src='<%= require("./assets/industry8.svg") %>' />
            <div class="industry-title">电商行业</div>
            <div class="industry-description">
              多业务系统的数据整合，打破信息孤岛，高效的客户管理及供应商合作管理，差异化线上和线下运营，帮助电商客户科学决策
            </div>
            <button class="industry-operator industry5">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry9.svg") %>' />
            <div class="industry-title">餐饮行业</div>
            <div class="industry-description">
              实现繁杂数据整合，提高顾客就餐率，及时调整营销策略，提供数据驱动的解决方案，轻松提高客户的满意度
            </div>
            <button class="industry-operator industry7">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=32 height=26.8 src='<%= require("./assets/industry10.svg") %>' />
            <div class="industry-title">物流行业</div>
            <div class="industry-description">
              轻松了解追踪客户行为，打通业务系统，科学调度车辆，提高订单完成率、准时率，提高物流效率，保证客户满意度
            </div>
            <button class="industry-operator industry9">体验DEMO</button>
          </li>
          <li>
            <img class="industry-title-img" width=30 height=30 src='<%= require("./assets/industry11.svg") %>' />
            <div class="industry-title">其他行业</div>
            <div class="industry-description">
              旅游业，保险业，农产品，电气化工，高新科技，生活服务等更多行业，立即预约，专业行业顾问将为您进行免费线上演示
            </div>
            <a class="industry-operator demo-btn" href="./demo.html">预约演示</a>
          </li>
        </ul>
      </section>
      <section class="register-section">
        <div class="register-section-title">数据驱动，精准决策，即刻启程</div>
        <div class="register-section-subTitle">ElephantBI专注数据价值，让数据真正服务于工作，现在开始免费试用</div>
        <a class="register-section-button free-btn" href="./register.html">免费注册</a>
      </section>
    </main>
    <footer class="footer-content">
      <ul class="footer-nav">
        <li class="footer-nav-icon">
          <img src='<%= require("./assets/footer-icon.svg") %>' id="footer-logo" width=160 height=32 />
        </li>
        <li class="footer-nav-list">
          <ul>
            <li class="footer-list-title">产品</li>
            <li>
              <a href="./product.html">产品介绍</a>
            </li>
            <li>
              <a href="./demo.html">预约演示</a>
            </li>
            <li>
              <a href="./price.html">价格</a>
            </li>
            <li>
              <a href="./service.html">服务支持</a>
            </li>
            <li>
              <a href="./about.html">关于我们</a>
            </li>
          </ul>
          <ul class="footer-industry">
            <li class="footer-list-title">行业Demo</li>
            <ul>
              <li>
                <a class="industry0">互联网行业</a>
              </li>
              <li>
                <a class="industry2">零售行业</a>
              </li>
              <li>
                <a class="industry4">企业服务行业</a>
              </li>
              <li>
                <a class="industry6">文娱行业</a>
              </li>
              <li>
                <a class="industry8">教育行业</a>
              </li>
            </ul>
            <ul>
              <li>
                <a class="industry1">金融行业</a>
              </li>
              <li>
                <a class="industry3">制造行业</a>
              </li>
              <li>
                <a class="industry5">电商行业</a>
              </li>
              <li>
                <a class="industry7">餐饮行业</a>
              </li>
              <li>
                <a class="industry9">物流行业</a>
              </li>
            </ul>
          </ul>
          <ul>
            <li class="footer-list-title">商务咨询</li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span>0411-39026089</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>bd@elephantbi.com</span>
            </li>
            <li>
              <img src='<%= require("./assets/address.svg") %>' width=12 height=15 />
              <span class="addressSpan">辽宁省大连市沙河口区软件园东路23号15#501AB室</span>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title">技术支持</li>
            <li>
              <img src='<%= require("./assets/footer-time.png") %>' width=14 height=14 />
              <span>09:00~19:00</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span>18004083463</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>support@elephantbi.com</span>
            </li>
          </ul>
        </li>
        <li class="footer-nav-sq">
          <img src='<%= require("./assets/customService.jpg") %>' width=140 height=140 />
          <span class="footer-nav-sq-description">微信扫码联系客服</span>
        </li>
      </ul>
      <div class="record">Copyright© 悦视光合科技(大连)有限公司&nbsp&nbsp&nbsp&nbsp辽ICP备18008272号</div>
    </footer>
  </div>
  <div class="modal-cover" id="modal-cover"></div>
  <div class="video-cover" id="video-cover"></div>
  <div class="official-video" id="official-video">
    <video
      id="video-player"
      loop
      class="video-js"
      controls
      preload="auto"
      data-setup='{}'
    >
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
    </video>
    <img alt="" src='<%= require("./assets/close-video.svg") %>' class="close-video" id="close-video" />
  </div>

  <div class="tootip-modal" id="tootip-succeed">
    <div class="tootip-icon">
      <div class="tooptip-succeed">
        <img src='<%= require("./assets/tootip-succeed.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title">提交成功</div>
      <div class="tootip-description">ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err">
    <div class="tootip-icon">
      <div class="tooptip-err">
        <img src='<%= require("./assets/tootip-err.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title">提交失败</div>
      <div class="tootip-description">请电话联系：0411-39026089</div>
    </div>
  </div>
</body>

</html>