@font-face {
  font-family: "PingFang SC";
  font-weight: 100;
  src: local("PingFang SC Thin");
  font-style: normal;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC Light");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PingFang SC";
  font-weight: 400;
  src: local("PingFang SC Regular");
  font-style: normal;
}
@font-face {
  font-family: "PingFang SC";
  font-weight: 500;
  src: local("PingFang SC Medium");
  font-style: normal;
}
@font-face {
  font-family: "PingFang SC";
  font-weight: 700;
  src: local("PingFang SC Semibold");
  font-style: normal;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eee;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu, sans-serif;
  font-weight: 300;
}
.baseButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.nav-content {
  margin: 0 auto;
  max-width: 1200px;
}
.nav-content .nav-list {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}
.nav-content .nav-section {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-content .login {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 16px;
}
.nav-content .login button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 120px;
  height: 40px;
  margin: 0 14px;
  line-height: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #000;
}
.nav-content .page-list {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}
.nav-content .page-list a:hover,
.nav-content .page-list a:visited,
.nav-content .page-list a:link,
.nav-content .page-list a:active {
  text-decoration: none;
  color: #000;
}
.nav-content .page-list a {
  margin: 0 30px;
}
.nav-content .logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0 20px;
}
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}
.main-content .main-header {
  margin: 150px 0;
}
.main-content .main-header .title {
  font-size: 62px;
}
.main-content .main-header .sub-title {
  margin-top: 10px;
  font-size: 40px;
}
.main-content .main-header .description {
  display: inline-block;
  max-width: 45%;
  min-width: 300px;
  margin-top: 26px;
  font-size: 15px;
}
.main-content .main-header .banner {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
}
.main-content .main-header .banner .banner-image {
  width: 1133px;
  height: 1070px;
  position: absolute;
  bottom: -680px;
  left: -100px;
  z-index: -1;
}
.main-content .main-header .free-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #40d08f;
  background-color: #40d08f;
  color: #fff;
  display: block;
  margin-top: 76px;
  border-radius: 5px;
  box-shadow: 2px 1px 4px #aeaeae;
}
.main-content .show-box {
  height: 600px;
  padding-top: 300px;
}
.main-content .show-box .box-title {
  display: inline-block;
  color: #1db977;
}
.main-content .show-box .box-title h3 {
  font-size: 32px;
  margin: 0;
}
.main-content .show-box .box-title p {
  font-size: 20px;
  margin: 0;
}
.main-content .show-box .icon {
  transform: translateY(-22px);
}
.main-content .show-box .box-item {
  display: inline-block;
  max-width: 490px;
  width: 50%;
  transform: translateY(-50%);
}
.main-content .show-box .right {
  transform: translate(150px, -50%);
}
.main-content .show-box .box-list {
  color: #777d97;
  list-style: none;
  padding: 0;
}
.main-content .show-box .box-list li {
  margin: 5px 0;
}
.main-content .show-box .box-list li:before {
  content: "\25cf";
  margin-right: 6px;
  color: #1db977;
  font-size: 15px;
}
