<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ElephantBI是企业大数据管理分析和商业智能平台。实时连接聚合企业所有数据，提供简单灵活的交互式可视化数据分析能力。ElephantBI是先进的敏捷BI，助您轻松将数据转化为深刻的商业见解，深入挖掘大数据价值，更快获得全局洞察，精准制定数据支持的商业决策，以数据推进企业数字化变革。">
  <meta name="mobile-agent" content="format=html5;url=https://m.elephantbi.com/price.html">
  <link ref="alternate" media="only screen and (max-width: 640px)" href="https://m.elephantbi.com/price.html">
  <title>ElephantBI - 价格</title>
  <link ref="canonical" href="https://www.elephantbi.com/price.html">
  <script>
    window.host = window.location.origin;
    window.backhost = 'https://api.elephantbi.com';
    var SOURCE = "官网";
    window.DEMOURL = 'DEMO_URL'
  </script>
  <script>
    if (window.host === 'https://www.elephantbi.com') {
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?75b7f1fb8fed402af2a2479288b0722e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    }
  </script>

</head>

<body>
  <div id="root">
    <header class="nav-header" id="nav-header">
      <img alt="企业大数据商业智能敏捷BI平台-价格" src='<%= require("./assets/site-img.jpg") %>' class="site-img" />
      <nav class="nav-content">
        <ul class="nav-list">
          <li class="nav-section logo">
            <a href="./index.html">
              <img src='<%= require("./assets/nav-logo-black.svg") %>' width=160 height=32 id="logo" />
            </a>
          </li>
          <li class="nav-section page-list">
            <a href="./index.html" data-locale-id="nav-product">产品</a>
            <a href="javascript:void(0)" id="nav-industry-link" data-locale-id="nav-demo">行业DEMO</a>
            <a href="./demo.html" data-locale-id="nav-trial">免费试用</a>
            <a href="./price.html" data-locale-id="nav-price">价格</a>
            <a href="./service.html" data-locale-id="nav-service">服务支持</a>
            <a href="javascript:void(0)" data-locale-id="nav-custom">需求定制</a>
            <div class="nav-industry-modal" id="nav-industry-modal">
              <div class="nav-industry-arrow"></div>
              <ul>
                <li>
                  <a class="industry0" data-locale-id="internet-industry">互联网行业</a>
                </li>
                <li>
                  <a class="industry2" data-locale-id="retail-industry">零售行业</a>
                </li>
                <li>
                  <a class="industry4" data-locale-id="enterprise-service-industry">企业服务行业</a>
                </li>
                <li>
                  <a class="industry6" data-locale-id="entertainment-industry">文娱行业</a>
                </li>
                <li>
                  <a class="industry8" data-locale-id="education-industry">教育行业</a>
                </li>
              </ul>
              <div class="divider"></div>
              <ul>
                <li>
                  <a class="industry1" data-locale-id="financial-industry">金融行业</a>
                </li>
                <li>
                  <a class="industry3" data-locale-id="manufacture-industry">制造行业</a>
                </li>
                <li>
                  <a class="industry5" data-locale-id="e-commerce-industry">电商行业</a>
                </li>
                <li>
                  <a class="industry7" data-locale-id="catering-industry">餐饮行业</a>
                </li>
                <li>
                  <a class="industry9" data-locale-id="logistics-industry">物流行业</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-section login">
            <span class="login-btn-content">
              <span class="nav-locale">
                <button class="nav-locale-btn" id="nav-locale-btn">English</button>
                <div class="nav-locale-modal" id="nav-locale-modal">
                  <div class="locale-item" data-locale="zh-cn">
                    <span data-locale="zh-cn">简体中文</span>
                    <img data-locale="zh-cn" class="locale-check" id="zh-cn-check" src='<%= require("./assets/check3.svg") %>' />
                  </div>
                  <div class="locale-item" data-locale="zh-tw">
                    <span data-locale="zh-tw">繁體中文</span>
                    <img data-locale="zh-tw" class="locale-check" id="zh-tw-check" src='<%= require("./assets/check3.svg") %>' />
                  </div>
                  <div class="locale-item" data-locale="en-US">
                    <span data-locale="en-US">English</span>
                    <img data-locale="en-US" class="locale-check" id="en-US-check" src='<%= require("./assets/check3.svg") %>' />
                  </div>
                </div>
              </span>
              <button id="nav-login" data-locale-id="sign-in">登录</button>
              <div class="login-modal" id="login-modal">
                <div class="modal-arrow"></div>
                <span class="login-block-wrapper" data-err="输入的域名不存在，请重新检查。如果您还没有注册请前往免费注册" data-locale-id="login-err">
                  <span class="login-block">
                    <input class="login-cell" id="input-hosts" type="text" placeholder="请输入团队域名" data-locale-id="login-placeholder">
                    <span id="login-fixed" class="login-cell login-fixed">elephantbi.com</span>
                  </span>
                </span>
                <button class="login-btn" id="login-product" data-locale-id="sign-in">登录</button>
              </div>
            </span>
            <a class="register-btn" href="./demo.html" data-locale-id="nav-trial">免费试用</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="quick-entry">
      <div class="quick-entry-item">
        <img alt="" class="quick-entry-phone" src='<%= require("./assets/quickEntryPhone.svg") %>' />
        <div data-locale-id="consultation" class="quick-entry-item-text">电话咨询</div>
        <div class="quick-entry-phone-tootip quick-entry-tootip">
          <img alt="" class="quick-entry-tootip-phone" src='<%= require("./assets/quickEntryTootipPhone.svg") %>' />
          <span class="quick-entry-tootip-info">
            <div data-locale-id="consultation-phone-number">0411-39026089</div>
            <div data-locale-id="work-time">工作日 09：00-19：00</div>
          </span>
          <div class="tootip-arrow"></div>
        </div>
      </div>
      <div class="quick-entry-item">
        <img alt="" class="quick-entry-wechat" src='<%= require("./assets/quickEntryWechat.svg") %>' />
        <div data-locale-id="wechat-custom-service" class="quick-entry-item-text">微信客服</div>
        <div class="quick-entry-wechat-tootip quick-entry-tootip">
          <img alt="" class="quick-entry-tootip-wechat" src='<%= require("./assets/footer-sq.svg") %>' />
          <div class="footer-nav-sq-description" data-locale-id="scan-code">微信扫码联系客服</div>
          <div class="tootip-arrow"></div>
        </div>
      </div>
      <div class="quick-entry-item">
        <img alt="" class="quick-entry-email" src='<%= require("./assets/quickEntryEmail.svg") %>' />
        <div data-locale-id="send-email" class="quick-entry-item-text">发送邮件</div>
        <div class="quick-entry-email-tootip quick-entry-tootip">
          <img alt="" class="quick-entry-tootip-email" src='<%= require("./assets/quickEntryTootipEmail.svg") %>' />
          <span class="quick-entry-tootip-info">
            <div>bd@elephantbi.com</div>
            <div data-locale-id="reply-within-24-hours">我们会在24小时内给您回复</div>
          </span>
          <div class="tootip-arrow"></div>
        </div>
      </div>
      <a class="quick-entry-item" href="./demo.html">
        <img alt="" class="quick-entry-trail" src='<%= require("./assets/quickEntryTrail.svg") %>' />
        <div data-locale-id="nav-trial" class="quick-entry-item-text">免费试用</div>
      </a>
    </div>
    <main class="main-content">
      <div class="price-content">
        <div class="main-header-bg" aria-hidden="true">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="gray-bg"></div>
        <div class="main-title" data-locale-id="price-title">升级ElephantBI，释放数据价值</div>
        <div class="price-table">
          <ul class="price-list">
            <li class="price-list-intro price-list-intro-cpy">
              <div data-locale-id="enterprise-edition">企业版</div>
              <div>
                <span class="special">399</span><span data-locale-id="enterprise-edition-description-1">/人/月</span></div>
              <a class="price-list-button" href="./demo.html" data-locale-id="nav-trial">免费试用</a>
              <div class="description" data-locale-id="enterprise-edition-description-2">现在注册，开启14天免费试用</div>
              <div class="divider"></div>
            </li>
            <li class="price-list-title" data-locale-id="data-preparation">数据准备</li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="user-number">用户数</span>
              <div class="attr cpy-attr" data-locale-id="more-than-10-persons">≥10人</div>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="datasource-connections">数据源连接个数</span>
              <div class="attr cpy-attr" data-locale-id="unlimited">不限</div>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="data-storage-capacity">数据存储容量</span>
              <div class="attr cpy-attr" data-locale-id="flexible-expansion">5G/10人(可灵活拓展)</div>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="database-auto-refresh-rate">数据库自动刷新频率</span>
              <div class="attr cpy-attr" data-locale-id="on-demand">按需</div>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="concurrent-sync-connections">并发同步连接个数</span>
              <div class="attr cpy-attr">4</div>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="online-data-warehouse">线上数据仓库</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="database-connection">数据库连接</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="intranet-data-connection">内网数据连接</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="local-file-data-connection">本地文件数据连接</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="multi-table-union">多表联合</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="data-authority-management">数据查看权限管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="data-source-settings">数据源管理及设定</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="export-data-number">导出数据条数</span>
              <div class="attr cpy-attr" data-locale-id="50W">50W条</div>
            </li>
            <li class="price-list-title" data-locale-id="data-analysis">数据分析</li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="crosstab-pivotTable-display">交叉表/透视表展示</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="various-chart-displays">各类图表展示</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="drag-drop-operation">拖拽式操作</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="data-screening">数据筛选</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="data-sorting">数据排序</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="chart-style-settings">图表样式设定</span>
            </li>
            <li class="price-list-title" data-locale-id="result-display">结果展示</li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="chart-dashboard-managemet">图表仪表盘管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="outside-sharing-of-dashboard">仪表盘站外分享</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="dashboard-rights-management">仪表盘权限管理</span>
            </li>
            <li class="price-list-title" data-locale-id="team-management">团队管理</li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="team-member-management">团队成员管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="support-batch-management">支持批量管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="support-member-grouping">支持成员分组</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="team-settings">团队设定</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="company-settings">公司设定</span>
            </li>
            <li class="price-list-title" data-locale-id="service-support">服务支持</li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="mail-support">中英文邮件支持</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="product-manual-support">产品手册支持</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="phone-support">8*5电话支持</span>
            </li>
            <li>
              <img src='<%= require("./assets/check3.svg") %>' />
              <span data-locale-id="customer-advisor">一对一客户顾问</span>
            </li>
          </ul>
          <ul class="price-list">
            <li class="price-list-intro price-list-intro-cpycostom">
              <div data-locale-id="enterprise-custom-edition">企业定制版</div>
              <div data-locale-id="enterprise-custom-edition-description">需私有部署/有定制需求的企业用户</div>
              <a class="price-list-button" href="./service.html#contactUs" data-locale-id="contact-us">联系我们</a>
              <div class="divider"></div>
            </li>
            <li class="price-list-title" data-locale-id="data-preparation">数据准备</li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="user-number">用户数</span>
              <div class="attr cpycostom-attr" data-locale-id="unlimited">不限</div>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="datasource-connections">数据源连接个数</span>
              <div class="attr cpycostom-attr" data-locale-id="unlimited">不限</div>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="data-storage-capacity">数据存储容量</span>
              <div class="attr cpycostom-attr" data-locale-id="unlimited">不限</div>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="database-auto-refresh-rate">数据库自动刷新频率</span>
              <div class="attr cpycostom-attr" data-locale-id="on-demand">按需</div>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="concurrent-sync-connections">并发同步连接个数</span>
              <div class="attr cpycostom-attr" data-locale-id="unlimited">不限</div>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="online-data-warehouse">线上数据仓库</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="database-connection">数据库连接</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="intranet-data-connection">内网数据连接</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="local-file-data-connection">本地文件数据连接</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="multi-table-union">多表联合</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="data-authority-management">数据查看权限管理</span></li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="data-source-settings">数据源管理及设定</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="export-data-number">导出数据条数</span>
              <div class="attr cpycostom-attr" data-locale-id="unlimited">不限</div>
            </li>
            <li class="price-list-title" data-locale-id="data-analysis">数据分析</li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="crosstab-pivotTable-display">交叉表/透视表展示</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="various-chart-displays">各类图表展示</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="drag-drop-operation">拖拽式操作</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="data-screening">数据筛选</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="data-sorting">数据排序</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="chart-style-settings">图表样式设定</span>
            </li>
            <li class="price-list-title" data-locale-id="result-display">结果展示</li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="chart-dashboard-managemet">图表仪表盘管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="outside-sharing-of-dashboard">仪表盘站外分享</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="dashboard-rights-management">仪表盘权限管理</span>
            </li>
            <li class="price-list-title" data-locale-id="team-management">团队管理</li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="team-member-management">团队成员管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="support-batch-management">支持批量管理</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="support-member-grouping">支持成员分组</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="team-settings">团队设定</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="company-settings">公司设定</span>
            </li>
            <li class="price-list-title" data-locale-id="service-support">服务支持</li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="mail-support">中英文邮件支持</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="product-manual-support">产品手册支持</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="phone-support">8*5电话支持</span>
            </li>
            <li>
              <img src='<%= require("./assets/check4.svg") %>' />
              <span data-locale-id="customer-advisor">一对一客户顾问</span>
            </li>
          </ul>
        </div>
      </div>

    </main>
    <footer class="footer-content">
      <ul class="footer-nav">
        <li class="footer-nav-icon">
          <a href="./index.html">
            <img src='<%= require("./assets/footer-icon.svg") %>' id="footer-logo" width=160 height=32 />
          </a>
        </li>
        <li class="footer-nav-list">
          <ul>
            <li class="footer-list-title" data-locale-id="nav-product">产品</li>
            <li>
              <a href="./index.html" data-locale-id="nav-product">产品介绍</a>
            </li>
            <li>
              <a href="./demo.html" data-locale-id="nav-trial">免费试用</a>
            </li>
            <li>
              <a href="./price.html" data-locale-id="nav-price">价格</a>
            </li>
            <li>
              <a href="./service.html" data-locale-id="nav-service">服务支持</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-locale-id="nav-custom">需求定制</a>
            </li>
          </ul>
          <ul class="footer-industry">
            <li class="footer-list-title" data-locale-id="nav-demo">行业Demo</li>
            <ul>
              <li>
                <a class="industry0" data-locale-id="internet-industry">互联网行业</a>
              </li>
              <li>
                <a class="industry2" data-locale-id="retail-industry">零售行业</a>
              </li>
              <li>
                <a class="industry4" data-locale-id="enterprise-service-industry">企业服务行业</a>
              </li>
              <li>
                <a class="industry6" data-locale-id="entertainment-industry">文娱行业</a>
              </li>
              <li>
                <a class="industry8" data-locale-id="education-industry">教育行业</a>
              </li>
            </ul>
            <ul>
              <li>
                <a class="industry1" data-locale-id="financial-industry">金融行业</a>
              </li>
              <li>
                <a class="industry3" data-locale-id="manufacture-industry">制造行业</a>
              </li>
              <li>
                <a class="industry5" data-locale-id="e-commerce-industry">电商行业</a>
              </li>
              <li>
                <a class="industry7" data-locale-id="catering-industry">餐饮行业</a>
              </li>
              <li>
                <a class="industry9" data-locale-id="logistics-industry">物流行业</a>
              </li>
            </ul>
          </ul>
          <ul>
            <li class="footer-list-title" data-locale-id="business-consulting">商务咨询</li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span data-locale-id="consultation-phone-number">0411-39026089</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>bd@elephantbi.com</span>
            </li>
            <li>
              <img src='<%= require("./assets/address.svg") %>' width=12 height=15 />
              <span class="addressSpan">
                <div data-locale-id="shenzhen-address">深圳市南山区卫星大厦15层</div>
                <div data-locale-id="dalian-address">大连市软件园15号楼5层</div>
              </span>
            </li>
          </ul>
          <ul>
            <li class="footer-list-title" data-locale-id="technical-support">技术支持</li>
            <li>
              <img src='<%= require("./assets/footer-time.png") %>' width=14 height=14 />
              <span>09:00~19:00</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-phone.png") %>' width=14 height=14 />
              <span data-locale-id="technical-phone-number">0411-39551681</span>
            </li>
            <li>
              <img src='<%= require("./assets/footer-email.png") %>' width=15 height=11.5 class="adjust-footer-icon" />
              <span>support@elephantbi.com</span>
            </li>
          </ul>
        </li>
        <li class="footer-nav-sq">
          <img src='<%= require("./assets/customService.jpg") %>' width=140 height=140 />
          <span class="footer-nav-sq-description" data-locale-id="scan-code">微信扫码联系客服</span>
        </li>
      </ul>
      <div class="record" data-locale-id="copyright">Copyright© 悦视光合科技(大连)有限公司&nbsp&nbsp&nbsp&nbsp辽ICP备18008272号</div>
    </footer>
  </div>
  <div class="tootip-modal" id="tootip-succeed">
    <div class="tootip-icon">
      <div class="tooptip-succeed">
        <img src='<%= require("./assets/tootip-succeed.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title" data-locale-id="submit-success">提交成功</div>
      <div class="tootip-description" data-locale-id="get-in-touch">ElephantBI团队会尽快跟您联系</div>
    </div>
  </div>
  <div class="tootip-modal" id="tootip-err">
    <div class="tootip-icon">
      <div class="tooptip-err">
        <img src='<%= require("./assets/tootip-err.png") %>' alt="">
      </div>
    </div>
    <div class="tootip-content">
      <div class="tootip-title" data-locale-id="submit-failed">提交失败</div>
      <div class="tootip-description" data-locale-id="submit-fail-describe">请电话联系：0411-39026089</div>
    </div>
  </div>
</body>

</html>