.container {
  padding: 270px 0px 172px 0px;
  background-image: url(assets/about.png);
  background-position: 50% 0px; 
  text-align: center;
  .title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 78px;
  };
  .content {
    display: inline-block;
    width: 80%;
    max-width: 1200px;
    font-size: 25px;
    color: #ededed;
    font-weight: 100;
  }
}